@model PageIM
@{
    Layout = "~/Areas/Admin/Views/Shared/Layouts/_Layout2019.cshtml";
    ViewBag.Title = Model.Id > 0 ? "编辑" + EntityNames.Article : "创建" + EntityNames.Article;

    List<SelectListItem> items = new List<SelectListItem>();
    items.Add(new SelectListItem { Text = "默认", Value = "_MainLayout" });
}


@section Header{
    @*<link href="~/plugins/SigFinder/SigFinder.min.css" rel="stylesheet" />*@
    <link href="~/plugins/webuploader/webuploader.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/bootstrap/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}


@using (Ajax.BeginForm("Edit", null, new AjaxOptions
{

    HttpMethod = "POST",
    OnBegin = "onBeginSave",
    OnComplete = "onCompleteSave",
    OnSuccess = "updateSuccess"

}, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)


    <div class="card">
        <h5 class="card-header">
            @ViewBag.Title
        </h5>

        <section class="card-body">

            <!-- Tab panes -->
            <div class="row">
                <div class="col-md">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title)

                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = Labels.Title })
                        @Html.ValidationMessageFor(model => model.Title)

                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.SeoName)

                        @Html.EditorFor(model => model.SeoName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SeoName)

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TemplateName)

                        @Html.DropDownListFor(model => model.TemplateName, items, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TemplateName)

                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Body)

                        @Html.TextAreaFor(model => model.Body, new { @class = "form-control", placeholder = "内容" })
                        @Html.ValidationMessageFor(model => model.Body)

                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.HeadCode)

                        <div id="DivHeadCode" style="min-height:250px;border:1px #ddd solid;">@Model.HeadCode</div>
                        @Html.HiddenFor(model => model.HeadCode)
                        @Html.ValidationMessageFor(model => model.HeadCode)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FooterCode)

                        <div id="DivFooterCode" style="min-height:250px;border:1px #ddd solid;">@Model.FooterCode</div>
                        @Html.HiddenFor(model => model.FooterCode)
                        @Html.ValidationMessageFor(model => model.FooterCode)

                    </div>


                    <div class="form-group form-check">
                        @Html.CheckBoxFor(model => model.Active, new { @class = "form-check-input" })
                        <label class="form-check-label" for="Active">@Html.DisplayNameFor(model => model.Active)</label>
                    </div>



                </div>
                <div class="col-md-auto">
                    @*<div style="width:300px; text-align:center;" class="mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <img ID="iLogo" src="@(string.IsNullOrEmpty(Model.Thumbnail) ? "holder.js/240x180?text=1035X771像素" : Model.Thumbnail )" class="img-fluid" />
                                </div>
                                <div class="card-footer">
                                    <button type="button" id="btnThumbnail" class="btn btn-info btn-block"><i class="iconfont icon-image"></i> 缩略图...</button>
                                    @Html.HiddenFor(model => model.Thumbnail)
                                </div>
                            </div>
                        </div>*@


                    <div class="card" style="width:300px;">
                        <h5 class="card-header">
                            SEO
                        </h5>
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SEOTitle)

                                @Html.TextBoxFor(model => model.SEOTitle, new { @class = "form-control", placeholder = "标题(SEO)" })
                                @Html.ValidationMessageFor(model => model.SEOTitle)

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Keywords)

                                @Html.TextBoxFor(model => model.Keywords, new { @class = "form-control", placeholder = "关键字(SEO)" })

                                @Html.ValidationMessageFor(model => model.Keywords)

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SEODescription)

                                @Html.TextAreaFor(model => model.SEODescription, new { @class = "form-control", placeholder = "描述(SEO)" })

                                @Html.ValidationMessageFor(model => model.SEODescription)

                            </div>
                        </div>
                    </div>


                </div>

            </div>


        </section>
        <footer class="card-footer text-center">
            <button type="submit" class="btn btn-primary" id="btnSave"><i class="iconfont icon-save"></i>  @Buttons.Update </button>
            <a href="@Url.Action("Index")" class="btn btn-secondary"><span class="iconfont icon-arrowleft"></span> @Buttons.Back</a>
        </footer>

    </div>
}


@Html.Action("PopuFinder", "File")

@section Footer {
    @Scripts.Render("~/bundles/jqueryvalWithBootstrap")
    <script src="/Plugins/webuploader/webuploader.min.js"></script>
    @*<script src="/Plugins/SigFinder/FileManager.js"></script>*@
    <script src="~/Plugins/tinymce5/tinymce.min.js"></script>
    <script src="~/scripts/lib/moment/moment-with-locales.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Plugins/holderjs/holder.min.js"></script>
    <script src="~/Plugins/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>

    var editor = ace.edit("DivHeadCode");
    editor.setTheme("ace/theme/chrome");
    editor.session.setMode("ace/mode/html");
    editor.setAutoScrollEditorIntoView(true);
    editor.setOption("maxLines", 30);

    editor.getSession().on('change', function (e) {
        $("#HeadCode").val(editor.getValue());

    });

    var editor1 = ace.edit("DivFooterCode");
    editor1.setTheme("ace/theme/chrome");
    editor1.session.setMode("ace/mode/html");
    editor1.setAutoScrollEditorIntoView(true);
    editor1.setOption("maxLines", 30);

    editor1.getSession().on('change', function (e) {
        $("#FooterCode").val(editor1.getValue());

    });



        function SetThumbnail(fileUrl) {
            $("#iLogo").attr("src", fileUrl);
            $('#Thumbnail').val(fileUrl);
        }

        function SetFullImage(fileUrl) {
             $("#iLogo2").attr("src", fileUrl);
            $('#FullImage').val(fileUrl);

        }

       function onBeginSave() {
            $("#btnSave").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  提交中...');

        }
        function onCompleteSave() {
            $("#btnSave").html('<i class="iconfont icon-save"></i> 保存');
        }

    function updateSuccess(data) {
        var title = '@ViewBag.Title';
        Common.ShowBox(data.Status, data.Message, title);
    }

     tinymce.init({
            selector: '#Body',  // change this value according to your HTML
            height: 400,
            language: 'zh_CN',

            convert_urls: false,
            extended_valid_elements: 'span',
            image_advtab: true,

            //picture manager
            file_picker_callback: singleEelFinder.elFinderBrowser,
            images_upload_handler: singleEelFinder.ImagesUploadHandler,
            plugins: 'print preview code importcss  searchreplace autolink autosave save directionality  visualblocks visualchars fullscreen image link media  template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists  wordcount   imagetools textpattern noneditable help    charmap   quickbars  emoticons',

              toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment code',
              autosave_ask_before_unload: true,
              autosave_interval: "30s",
              autosave_prefix: "{path}{query}-{id}-",
              autosave_restore_when_empty: false,
                autosave_retention: "2m",

            image_advtab: true,
            importcss_append: true,
            image_caption: true,
            templates: [
                { title: '新表格', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
            { title: '文章样式', description: 'A cure for writers block', content: 'Once upon a time...' },
            { title: '列表样式', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
          ]


     });




        $(function () {
            $("#btnThumbnail").on("click", function () {
                singleEelFinder.selectActionFunction = SetThumbnail;
                singleEelFinder.open();

            });

            $("#btnFullImage").on("click", function () {
                singleEelFinder.selectActionFunction = SetFullImage;
                singleEelFinder.open();

            });

            $('#datetimepicker2').datetimepicker({
                locale: 'zh-CN',
                format: 'L'
            });
        })

    </script>
}




