
@model ChronicleIM

@using (Ajax.BeginForm("Edit", "Chronicle",
                            new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                OnBegin = "onBegin",
                                OnComplete = "onComplete",
                                OnSuccess = "updateSuccess",
                                //OnFailure = "handleError",
                                //UpdateTargetId = "tr" + Model.Id

                            }, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
   

    <!-- 添加菜单 Modal -->
    <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@string.Format("编辑{0}", EntityNames.Chronicle)</h4>
                </div>
                <div class="modal-body">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#product" aria-controls="product" role="tab" data-toggle="tab">@EntityNames.Article</a></li>
                        <li role="presentation"><a href="#seo" aria-controls="seo" role="tab" data-toggle="tab">SEO设置</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" style="padding-top:30px;">
                        <div role="tabpanel" class="tab-pane active" id="product">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = Labels.Title })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">@(Labels.Year + Labels.Month + Labels.Day)</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Year, (SelectList)ViewBag.Years, "--" + Labels.Year + "--", new { @class = "form-control", style = "width:120px;display:inline-block;" })
                                    @Html.DropDownListFor(model => model.Month, (SelectList)ViewBag.Months, "--" + Labels.Month + "--", new { @class = "form-control", style = "width:120px;display:inline-block;" })
                                    @Html.DropDownListFor(model => model.Day, (SelectList)ViewBag.Days, "--" + Labels.Day + "--", new { @class = "form-control", style = "width:120px;display:inline-block;" })

                                    @Html.ValidationMessageFor(model => model.Year)
                                    @Html.ValidationMessageFor(model => model.Month)
                                    @Html.ValidationMessageFor(model => model.Day)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Thumbnail, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Thumbnail, new { @class = "form-control", placeholder = Labels.Thumbnail })
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" id="btnThumbnail" type="button">浏览…</button>
                                        </span>
                                    </div><!-- /input-group -->
                                    <span class="help-block">@string.Format("图像大小：{0}x{1} 像素", SettingsManager.Chronicle.ThumbWidth, SettingsManager.Chronicle.ThumbHeight)</span>

                                    @Html.ValidationMessageFor(model => model.Thumbnail)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-2">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(model => model.Active)  @Html.DisplayNameFor(model => model.Active)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    @Html.ValidationMessageFor(model => model.Active)
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Body)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Summary, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Summary, new { @class = "form-control", placeholder = "描述" })

                                    @Html.ValidationMessageFor(model => model.Summary)
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="seo">

                            <div class="form-group">
                                @Html.LabelFor(model => model.SEOTitle, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.SEOTitle, new { @class = "form-control", placeholder = "标题(SEO)" })
                                    @Html.ValidationMessageFor(model => model.SEOTitle)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Keywords, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Keywords, new { @class = "form-control", placeholder = "关键字(SEO)" })

                                    @Html.ValidationMessageFor(model => model.Keywords)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SEODescription, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.SEODescription, new { @class = "form-control", placeholder = "描述(SEO)" })

                                    @Html.ValidationMessageFor(model => model.SEODescription)
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary" type="submit" id="btnSave"><i class="fa fa-save fa-fw"></i>保存</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);


</script>