@model TZGCMS.Data.Entity.Articles.Article
@{

    PageMeta pm = (PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : Model.Title;
}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
}

@Html.Partial("Header")


        <div class="page-article-detail">

            <div class="container page-news">
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        <article class="article">
                            <h2 class="title">@Model.Title</h2>
                            <div class="note">

                                <span>
                                    <i class="iconfont icon-time"></i> @Model.Pubdate.ToShortDateString()
                                </span>
                                <span>作者：@Model.Source </span>
                                <span> <i class="iconfont icon-fire"></i>@Model.ViewCount</span>
                            </div>
              
                            <div class="content">
                                @Html.Raw(Model.Body)
                            </div>


                        </article>

                      
                    </div>
                    <div class="col-md-4 col-lg-3">
                        @Html.Action("HotNews", new { count = 8 })
                    </div>
                </div>
          

            </div>
        </div>


@section footer{
    <script>
        $(function () {
            $("#mainav li").eq(1).addClass("active");
        })
    </script>

}