@model EmailListVM


@{
    ViewBag.Title = EntityNames.Email;
    ViewBag.PageTitle = ViewBag.Title + "_内容";

}

@section header{

    <link href="~/plugins/SigFinder/SigFinder.min.css" rel="stylesheet" />
    <link href="~/plugins/webuploader/webuploader.css" rel="stylesheet" />


}

<div class="m-b-15">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="@Url.Action("Index")"><span class="glyphicon glyphicon-inbox"></span> 收件箱</a></li>
        <li role="presentation" class="active"><a href="@Url.Action("Trash")"><span class="glyphicon glyphicon-trash"></span> 垃圾箱</a></li>
    </ul>
</div>

<div class="panel panel-default">
    <header class="panel-heading">

        <div class="pull-right">
            <form class="form-inline">
                <div class="form-group">
                    <label for="Keyword">关键字</label>
                    @Html.TextBoxFor(model => model.Keyword, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search fa-fw"></i>查找</button>
            </form>

        </div>
        <button type="button" id="btnRestore" class="btn btn-default"><i class="fa fa-mail-reply-all fa-fw"></i>还原</button>
        <button type="button" id="btnRemove" class="btn btn-danger"><i class="fa fa-remove fa-fw"></i>彻底删除</button>
    </header>

    <table class="table table-hover table-vmiddle">
        <thead>
            <tr class="AdminListHeader">
                <th>
                    <input type="checkbox" id="ckbAll" />
                </th>
                <th>
                    发件人
                </th>
                <th>
                    主题
                </th>

                <th>
                    时间
                </th>

            </tr>
        </thead>
        <tbody id="tbList">
            @foreach (var item in Model.Emails)
            {
                Html.RenderPartial("_EmailItem", item);
            }

        </tbody>

    </table>

    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-7">
                @Html.PagedListPager(Model.Emails, page => Url.Action("Index", new { page = page, keyword = Model.Keyword }))
            </div>
            <div class="col-sm-5">
                <div class="form-inline text-right">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3"> 总记录<strong>@Model.TotalCount</strong>条，分页</span>
                        @Html.DropDownListFor(m => Model.PageSize, (SelectList)ViewBag.PageSizes, "分页", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

    </footer>


</div>

<!-- end main container -->

<div id="edit-container">
</div>

<form id="anti-form" method="post">
    @Html.AntiForgeryToken()
</form>

@Html.Action("PopuFinder", "File")

@section footer {
    @Scripts.Render("~/bundles/jqueryvalWithBootstrap")



    <script>      


        $(function () {

            //全选/不选
            $(document).on("change", '#ckbAll', function (e) {
                if ($(this).is(':checked')) {
                    $("input[name='emailCheck']").prop('checked', true);
                }
                else {
                    $("input[name='emailCheck']").prop('checked', false);
                }
            });



            //pagging set
            $(document).on("change", '#PageSize', function (e) {
                e.preventDefault();

                var url = "@Url.Action("PageSizeSet")", title = "分页设置", pageSize = $(this).val();
                Common.PageSizeSet(url, title, pageSize, setPageSizeFunc);

            });

            function setPageSizeFunc() {
                location.reload();
            }
            
            //彻底删除
            $(document).on("click", '#btnRemove', function (e) {
                //  e.preventDefault();

                var postData = new Array();
                $("input[name='emailCheck']:checked").each(function () {
                    postData.push(this.value);
                });

                var url = "@Url.Action("BulkRemove")";
                var that = $(this);
                bootbox.setLocale("zh_CN");
                bootbox.confirm("你确定要彻底删除所选项吗？", function (result) {
                    if (result) {
                        /*DELETE*/
                        var title = "@ViewBag.Title";                      

                        $.post(url, { ids: postData }, function (data) {
                            switch (data.Status) {
                                case 1:
                                    toastr.success(data.Message, title);
                                    $("input[name='emailCheck']:checked").closest("tr").remove();
                                    break;
                                case 2:
                                    toastr.error(data.Message, title);
                                    break;
                                case 3:
                                    toastr.info(data.Message, title);
                                    break;
                                case 4:
                                    toastr.warning(data.Message, title);
                                    break;
                            }
                        });

                    }
                });
            });
            //还原
            $(document).on("click", '#btnRestore', function (e) {
              //  e.preventDefault();

                var postData = new Array();
                $("input[name='emailCheck']:checked").each(function () {
                    postData.push(this.value);
                });

                var url = "@Url.Action("BulkRestore")";
                var that = $(this);
                bootbox.setLocale("zh_CN");
                bootbox.confirm("你确定要还原所选项吗？", function (result) {
                    if (result) {
                        /*DELETE*/
                        var title = "@ViewBag.Title";
                        //Common.DeleteItem(url, title, that);

                        $.post(url, { ids: postData }, function (data) {
                            switch (data.Status) {
                                case 1:
                                    toastr.success(data.Message, title);
                                    $("input[name='emailCheck']:checked").closest("tr").remove();
                                    break;
                                case 2:
                                    toastr.error(data.Message, title);
                                    break;
                                case 3:
                                    toastr.info(data.Message, title);
                                    break;
                                case 4:
                                    toastr.warning(data.Message, title);
                                    break;
                            }
                        });

                    }
                });
            });
        });
    </script>

}