
@model IEnumerable<ArticleVM>
@{ 
    int n = 1;
}

<section class="s2 container">
    <div class="row no-gutters">
        <div class="col-md-6 col-lg-4 item1 item2">
            <a href="@Url.Action("Index","Article")" class="item ">
                <div class="txt1">
                    <h2>新 闻</h2>
                    <div class="more">了解更多</div>
                </div>
            </a>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-4">
                <a href="@Url.Action("Detail","Article",new { id = item.Id})" class="item">
                    <img src="@item.Thumbnail" alt="@item.Title" />
                    <div class="txt">
                        @item.Title
                    </div>
                </a>
            </div>
            if (n == 3)
            {
                <div class="col-md-6 col-lg-4 item1">
                    <a href="@Url.Action("Index","Article")" class="item ">
                        <div class="txt1">
                            <h2>新 闻</h2>
                            <div class="more">了解更多</div>
                        </div>
                    </a>
                </div>
            }

            n++;
        }

    </div>
</section>

