@model QNZ.Data.Article
@{

    PageMeta pm = (PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : Model.Title;

    var prevArt = (QNZ.Data.Article)ViewBag.Prev;
    var nextArt = (QNZ.Data.Article)ViewBag.Next;
}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
}


@Html.Action("ArtHeader", "Article")


<!-- BLOG   ================================================== -->
<section class="page page-news-detail">
    <div class="container">
        <div class=" article">
            <div class="title title-section">
                <h2>@Model.Title</h2>
            </div>


            <div class="note">
                <ul>
                    <li>
                        发布日期：  @string.Format("{0:D}", Model.Pubdate)
                    </li>
                    <li>
                        分类： @Model.ArticleCategory.Title
                    </li>
                </ul>
            </div>
            <div class="content">
                @Html.Raw(Model.Body)
            </div>

        </div>

        <div class="nav-page">

            @if (ViewBag.Prev != null)
            {
                <p>上一篇：  <a href="@Url.Action("Detail", new { id=prevArt.Id})">@prevArt.Title</a></p>
            }


            @if (ViewBag.Next != null)
            {
                <p>
                    下一篇： <a href="@Url.Action("Detail", new { id=nextArt.Id})">@nextArt.Title</a>
                </p>
            }



        </div>
    </div>


</section>

@section footer{
    <script>
        $(function () {
          
        })
    </script>

}