@model IEnumerable<Product>
<hr class="divider hidden-xs" />

<section class="container lastproducts">
    <header class="title">
        <h2>推荐产品</h2>
        <p>
            一流的品质，铸就一流的品牌。尚橙，期待你的加盟，打造共赢时代！
        </p>
    </header>
</section>

<div class="container-fluid lastproductlist clearfix">
    <div id="lastproductlist" class="row">
        @foreach (var product in Model)
        {
            <div class="col-sm-6 col-md-3">
                <a href="@Url.Action("detail",new {id=product.Id })" title="查看详细" class="item">
                    <img src="@product.Thumbnail" alt="@product.ProductName">
                    <div class="roll">
                        <div class="icon hidden-xs">
                            <i class="iconfont icon-link"></i>
                        </div>
                        <h3>@product.ProductName</h3>
                        <p>
                            型号: @product.ProductNo
                        </p>

                    </div>
                </a>

            </div>
        }

    </div>
</div>
