@model CaseListFrontVM
@{

    PageMeta pm = (PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : "工程案例";
    ViewBag.HeaderClass = "header-white";
}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
}


@Html.Action("SingleAd", "AD", new { code = "A1006" })


<div class="page page-cases">
    @Html.Action("Paragraph", "Pages", new { seoName = "case" })

    <section class="container s3" id="s3">
        <h2 class="title-section">客户案例</h2>
        <div class="caselist">
            <div class="row">
                @foreach (var item in Model.Cases)
                {
                    <div class="col-md-6 col-lg-4">
                        <a href="@Url.Action("Detail",new { id=item.Id})" class="item">
                            <div class="pic"><img src="@item.Thumbnail" alt="@item.Title" /></div>
                            <div class="txt">
                                <h3>@item.Title</h3>
                                <p>@item.Summary <span>查看详情</span></p>
                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>
        <div class="text-center">
            @Html.PagedListPager((IPagedList)Model.Cases, page => Url.Action("Index", new { page }) + "#s3", PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </section>
</div>