@{

    PageMeta pm = (PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : "XIPIN希品";
}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }

    <link href="~/Plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet" />
}


@Html.Action("Carousels", "Ad", new { code = "A1001" })
@Html.Action("HomeCategories", "Product", new { count = 6 })
@Html.Action("HomeProducts", "Product", new { count = 12 })


@section footer{
    <script src="~/Plugins/owl.carousel/owl.carousel.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                items: 1,
                navText: ["<span class='iconfont'>&#xe614;</span>", "<span class='iconfont'>&#xe612;</span>"],
                loop: true,
                nav: true,
                autoplay: true,
                autoHeight: true,
                autoplayTimeout: 3000

            });
        });
    </script>


}
