@model Product

<div class="col-sm-6 col-md-4 item">
    <div class="productbox">
        <a href="@string.Format("/products/detail/{0}", Html.DisplayFor(model => model.Id))">
            <img src="@Html.DisplayFor(model => model.Thumbnail)" alt="@Html.DisplayFor(model => model.ProductNo)" />
            <div class="roll">
                @*<div class="icon">
                    <i class="icon-add117"></i>
                </div>*@
                <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="@Html.DisplayFor(model => model.ProductNo)" />
            </div>

        </a>
        <div class="des">
            <h3>
                @Html.DisplayFor(model => model.ProductName)
            </h3>
            <p>型号：@Html.DisplayFor(model => model.ProductNo)</p>
        </div>
    </div>
</div>

