@model SimpleProduct
@{
    PageMeta pm = (PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : Model.ProductName;

}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
}


@Html.Action("SingleAd", "AD", new { code = "A1007" })

<div class="page page-product-detail">
    <div class="container">
        <div class="title title-section">
            产品中心
        </div>
        <div class="showfull">
            <h3 class="title-pro">@Model.ProductName</h3>
            <div class="pic">
                <img src="@Model.ImageUrl" alt="@Model.ProductName" />
            </div>
        </div>
    </div>

    <div class="contact_bar">
        <div class="txt">
            <div class="row align-items-center justify-content-md-center">
                <div class="col-md-auto"> 想了解FRAMEMAC产品设备价格吗？</div>
                <div class="col-md-auto"><a href="/contact">联系我们</a></div>
            </div>

        </div>
    </div>
    <section class="s3">
        <div class="tab-header">
            <div class="container">
                <nav id="subnav">
                    <a href="#" data-id="content01" class="active">产品概述</a>
                    <a href="#" data-id="content02">产品参数</a>
                    <a href="#" data-id="content03">产品细节</a>
                    <a href="#" data-id="content04">产品控制</a>
                    <a href="#" data-id="content05">产品视频</a>
                </nav>
            </div>
        </div>

        <div class="container" id="tab-content">
            <div id="content01" class="content active">
                @Html.Raw(Model.Body)
            </div>
            <div id="content02" class="content">
                @Html.Raw(Model.Parameters)
            </div>
            <div id="content03" class="content">
                @Html.Raw(Model.Specific)
            </div>
            <div id="content04" class="content">
                @Html.Raw(Model.Controls)
            </div>
            <div id="content05" class="content">
                @Html.Raw(Model.Videos)
            </div>
        </div>
    </section>
</div>

@section footer{
    <script>
        $(function (e) {
            $("#subnav a").click(function (e) {
                e.preventDefault();
                $(this).addClass("active").siblings().removeClass("active");

                var c = $(this).attr("data-id");
                $("#" + c).addClass("active").siblings().removeClass("active");
            });
        })

    </script>
    
    }