@model QNZ.Data.Product
@{
    PageMeta pm = (PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : Model.ProductName;

}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
}


<div class="product-header" style="background-image:url('@Model.Cover')">
    <div class="container intro">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="pic wow fadeInLeft">
                    <img src="@Model.ViewImage" alt="@Model.ProductName" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="txt">
                    <h2 class="title wow fadeInUp">
                        @Model.ProductName
                    </h2>
                    <p class="wow fadeInUp"  data-wow-duration="2s" data-wow-delay="1s">
                        @Model.Introduction
                    </p>
                    <img src="@Model.Icon" alt="@Model.ProductNo" class="wow fadeInUp"  data-wow-duration="2s" data-wow-delay="2s"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-product-detail">
    <section class="detail">
        @Html.Raw(Model.Body)
    </section>

</div>

@section footer{

    <script>
        $(function () {
          $("#progress").height("100%");         
            $("#overly").fadeOut(1000);

          if (Modernizr.mq('(max-width: 991px)')) {
                $("#site-header").css({ "top": "0" });
                setTimeout(function () {
                    $("#progress").css({ "left": "-65px" });
                }, 300);

            } else {
                    $("#site-header").css({ "left": "0" });
            }
        })
    </script>
}
