@model IEnumerable<SimpleProductVM>
@{
    PageMeta pm = (PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : "产品展示";
}
@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
}

@Html.Action("SingleAd", "AD", new { code = "A1007" })

<div class="page page-products">
    <section class="container s1">
        <h2 class="title title-section">产品中心</h2>
        <div class="productlist">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <a href="@Url.Action("Detail", new { id= item.Id})" class="item">
                            <div class="pic"><img src="@item.Thumbnail" alt="@item.ProductName" /></div>
                            <div class="text">
                                <h3>@item.ProductName</h3>
                                <p>@item.Summary</p>
                                <div class="more">查看更多</div>
                            </div>
                        </a>

                    </div>
                }

            </div>
        </div>
    </section>
    <div class="contact_bar">
        <div class="txt">
            <div class="row align-items-center justify-content-md-center">
                <div class="col-auto">想了解FRAMEMAC产品设备？</div>
                <div class="col-auto"><a href="/contact">联系我们</a></div>
            </div>

        </div>
    </div>

    <section class="container s2">
        <h2 class="title title-section">培训中心</h2>

        <div class="pxlist">
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <h3>
                            课程介绍
                        </h3>

                        <a href="/products/train/intro" class="more">查看更多 <img src="~/Content/img/arrow-right.png" alt="arrow right" /></a>
                        <p>
                            储能式结构，节能环保。液压部件为德国博世力士乐产品。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <h3>
                            课程展示
                        </h3>

                        <a href="/products/train/course" class="more">查看更多 <img src="~/Content/img/arrow-right.png" alt="arrow right" /></a>
                        <p>
                            储能式结构，节能环保。液压部件为德国博世力士乐产品。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <h3>
                            课程安排
                        </h3>

                        <a href="/products/train/arrangement" class="more">查看更多 <img src="~/Content/img/arrow-right.png" alt="arrow right" /></a>
                        <p>
                            储能式结构，节能环保。液压部件为德国博世力士乐产品。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>