@model ProductListFVM
@{
    QNZ.Data.PageMeta pm = (QNZ.Data.PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : Model.Category.Title;
}
@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
}

<div class="banner banner-news" style="background-image:url('@Model.Category.ImageUrl')">
    <div class="header-news">
        <h3>@Model.Category.Title</h3>
        <p>
            @Model.Category.Description
        </p>
        <img src="@Model.Category.IconName" alt="@Model.Category.Title" />
    </div>

</div>


<div class="page page-products">
    <section class="container s1">      
        <div class="productlist">
            <div class="row">
                @foreach (var item in Model.Products)
                {
                    <div class="col-md-6 col-lg-4 px-4">
                        <a href="@Url.Action("Detail", new { id= item.Id})" class="item">
                            <div class="pic"><img src="@item.Thumbnail" alt="@item.ProductName" /></div>
                            <div class="text">
                                <h3>@item.ProductName</h3>
                                <p>@item.Summary</p>
                        
                            </div>
                        </a>

                    </div>
                }

            </div>
        </div>
    </section>



</div>