
<div class="list-group" id="leftNav">
    <a href="#" class="list-group-item  disabled">
        <i class="glyphicon glyphicon-th"></i>  产品 <span class="badge">2</span>
    </a>
    @Html.ActionLink("列表", "Index", "Product", null, new { @class = "list-group-item" })
    @Html.ActionLink("分类", "Index", "Category", new { modelType = ModelType.PRODUCT }, new { @class = "list-group-item" })
    <a href="#" class="list-group-item disabled">
        <i class="glyphicon glyphicon-file"></i> 资讯 <span class="badge">2</span>
    </a>
    @Html.ActionLink("列表", "Index", "Article", null, new { @class = "list-group-item" })
    @Html.ActionLink("分类", "Index", "Category", new { modelType = ModelType.NEWS }, new { @class = "list-group-item" })

    <a href="#" class="list-group-item disabled">
        <i class="glyphicon glyphicon-list-alt"></i> 页面 <span class="badge">2</span>
    </a>
    @Html.ActionLink("列表", "Index", "Pages", null, new { @class = "list-group-item" })
    @*@Html.ActionLink("分类", "Index", "Category", new { modelType = ModelType.PAGE }, new { @class = "list-group-item" })*@
</div>

