@model SocialIM

@using (Ajax.BeginForm("Social", null, new AjaxOptions()
{
    OnBegin = "onBegin1",
    OnComplete = "onComplete1",
    //   Confirm = "Are you sure you want to save this User?"
    OnSuccess = "onSuccess"

}, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    <div class="form-group">
        @Html.LabelFor(model => model.Oicq, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(model => model.Oicq, new { @class = "form-control", placeholder = ModelMetadata.FromLambdaExpression(x => x.Oicq, ViewData).Watermark })
            @Html.ValidationMessageFor(model => model.Oicq)
        </div>

    </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OicqTwo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.OicqTwo, new { @class = "form-control", placeholder = ModelMetadata.FromLambdaExpression(x => x.OicqTwo, ViewData).Watermark })
                        @Html.ValidationMessageFor(model => model.OicqTwo)
                    </div>

                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.SinaWeibo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.SinaWeibo, new { @class = "form-control", placeholder = "新浪微博" })
                        @Html.ValidationMessageFor(model => model.SinaWeibo)
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WeiXing, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.WeiXing, new { @class = "form-control", placeholder = "微信帐号" })
                        @Html.ValidationMessageFor(model => model.WeiXing)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WeiXingCode, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
               
                        <div class="input-group">
                           @Html.TextBoxFor(model => model.WeiXingCode, new { @class = "form-control", placeholder = "微信二维码" })
                            <div class="input-group-btn">
                                <button class="btn btn-default" id="btnWeiXingCode" type="button">浏览…</button>
                               @if (!string.IsNullOrEmpty(Model.WeiXingCode))
                               {
                                <button type="button" class="btn btn-default" data-container="body" data-html="true"
                                        data-toggle="popover" data-placement="top" data-content="<img src='@Model.WeiXingCode'/>">
                                    <i class="fa fa-qrcode"></i>
                                </button>
                               }
                               
                            </div>
                        </div>

                 

                       
                        @Html.ValidationMessageFor(model => model.WeiXingCode)
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary" id="btnSave1"><i class="fa fa-save fa-fw"></i> 保存</button>
                    </div>
                    @*<div class="col-md-7">
                            @TempData["message"]
                        </div>*@
                </div>
}