@model IEnumerable<QNZ.Data.MenuCategory>
@foreach (var item in Model)
{

    <div class="col-sm-4 item-container">
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <i class="iconfont icon-antdesign"></i> @item.Title
                    </div>
                    <div class="col-auto">
                        @Ajax.RawActionLink("<i class='iconfont icon-plus'></i>",
                      "EditMenu", "FrontMenu",
                      new { categoryId = item.Id },
                      new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "edit-container", OnComplete = "onAjaxComplete", OnSuccess = "OnSuccessLink" },
                      new { @class = "btn btn-primary btn-sm", title = Buttons.Add })

                        @Ajax.RawActionLink("<i class='iconfont icon-edit'></i>",
                            "EditCategory", "FrontMenu",
                            new { id = item.Id },
                            new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "edit-container", OnComplete = "onAjaxComplete", OnSuccess = "OnSuccessLink" },
                            new { @class = "btn btn-primary btn-sm", title = Buttons.Edit })

                        <a href="#" data-url="@Url.Action("DeleteCategory", new {id = item.Id})" class="btn btn-danger btn-sm delete-item" title="@Buttons.Delete">
                            <i class="iconfont icon-delete"></i>
                        </a>

                        <button type="button" class="btn btn-info btn-sm btn-refresh" data-id="@item.Id"
                                data-url="@Url.Action("resetSort",new { id=item.Id})">
                            <i class="iconfont icon-sort-ascending"></i>
                        </button>
                    </div>
                </div>
  
             
              
            </header>
            <section class="card-body" id="@string.Format("menu{0}",item.Id)">
                @Html.Action("GetMenus", new { categoryId = item.Id })
            </section>
            @*<footer class="card-footer">

            </footer>*@
        </div>
    </div>
}
