@using TZGCMS.Infrastructure.UI;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title _ @SettingsManager.Site.SiteName</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @Html.RenderStyles()

    <link href="~/Areas/Admin/Content/Bootstrap4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/fonts/iconfont.min.css" rel="stylesheet" />

    <link href="~/Plugins/toastr/toastr.min.css" rel="stylesheet" />

    <link href="~/Areas/Admin/Content/css2019/Style.min.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/Admin/css/SigStyle")*@
    @RenderSection("Header", required: false)

    <script src="~/scripts/compatibility/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/scripts/compatibility/respond.min.js"></script>
     <![endif]-->


</head>
<body>


    <div id="wrapper" class="wrapper">
        @Html.Action("LeftNavs", "Nav", new { categoryId = 1 })

        <div id="rightcol" class="rightcol">
            @Html.Partial("_Header")

            @*@Html.Action("Crumbs", "Nav", new { areaName = Html.Area(), controller = Html.Controller(), action = Html.Action() })*@

            <div class="main-content">
                @RenderBody()
            </div>

            <footer id="pagefooter" class="page-footer">
                Copyright &copy; 2012 <a id="hlSiteInfo" href="@SettingsManager.Site.DeveloperDomainName">@SettingsManager.Site.Developer</a> All Rights  Reserved
                Powered by @SettingsManager.Site.Version
            </footer>


        </div>
    </div>

    <!-- The Scripts -->
    <!--[if lte IE 8]>
        <script src="~/scripts/lib/jqueryForIE/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="~/scripts/lib/jquery/jquery-2.2.0.min.js"></script>
    <!--<![endif]-->
    <script src="~/Areas/Admin/Content/Bootstrap4/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/Admin/Content/js/App2019.min.js"></script>
    <script src="~/Plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Plugins/toastr/toastr.min.js"></script>

    @Html.RenderJavaScripts()

    @RenderSection("Footer", required: false)
</body>
</html>
