@model IEnumerable<QNZ.Data.Institute>
@{

    QNZ.Data.PageMetaSet pm = (QNZ.Data.PageMetaSet)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : "科研平台";
}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
}


@Html.Action("InstituteHeader")


<div class="page page-institute">
    <div class="container">
        <div class="row no-gutters">
            @foreach (var item in Model)
            {
            <div class="col-6 col-md-4 col-lg-3">
                @if (item.DictionaryId == 3)
                {
                    <a class="item" href="@Url.Action("Detail",new { id = item.Id})">
                        <div class="pic"><img src="@item.Thumbnail" alt="@item.Title" /></div>
                        <div class="title">
                            <h3>@item.Title</h3>
                        </div>
                    </a>
                }
                else
                {
                    <a class="item" href="@Url.Action("Labs",new { id = item.Id})">
                        <div class="pic"><img src="@item.Thumbnail" alt="@item.Title" /></div>
                        <div class="title">
                            <h3>@item.Title</h3>
                        </div>
                    </a>
                }

            </div>
            }

        </div>
    </div>

</div>