@model ModuleSetIM
@{
    Layout = "~/Areas/Admin/Views/Shared/Layouts/_Layout2019.cshtml";
    ViewBag.Title = "全局设置";
    ViewBag.PageTitle = ViewBag.Title + "_常规设置";

}





        
                @*<li role="presentation"><a href="#productSet" aria-controls="blog" role="tab" data-toggle="tab">产品</a></li>
                <li role="presentation"><a href="#videoSet" aria-controls="videoSet" role="tab" data-toggle="tab">视频直播</a></li>
                <li role="presentation"><a href="#newsSet" aria-controls="profile" role="tab" data-toggle="tab">新闻</a></li>*@
                @*<li role="presentation"><a href="#blog" aria-controls="blog" role="tab" data-toggle="tab">博客</a></li>
                <li role="presentation"><a href="#caseSet" aria-controls="blog" role="tab" data-toggle="tab">案例</a></li>
                <li role="presentation"><a href="#photoSet" aria-controls="blog" role="tab" data-toggle="tab">相册</a></li>*@
                @*<li role="presentation"><a href="#weixinSet" aria-controls="weixin" role="tab" data-toggle="tab">微信公众号</a></li>*@
   

           
             
                    @Html.Partial("_Site", Model.SiteInfo)
                  
                 
                
             
                @*<div role="tabpanel" class="tab-pane" id="productSet">
                    <br />
                    @Html.Partial("_Product", Model.ProductSet)
                </div>
                <div role="tabpanel" class="tab-pane" id="videoSet">
                    <br />
                    @Html.Partial("_Video", Model.VideoSet)
                </div>
                <div role="tabpanel" class="tab-pane" id="newsSet">
                    <br />
                    @Html.Partial("_Article", Model.ArticleSet)
                </div>*@
                @*<div role="tabpanel" class="tab-pane" id="blog">
                    <br />
                    @Html.Partial("_Post", Model.PostSet)
                </div>
                <div role="tabpanel" class="tab-pane" id="caseSet">
                    <br />
                    @Html.Partial("_Case", Model.CaseSet)
                </div>
                <div role="tabpanel" class="tab-pane" id="photoSet">
                    <br />
                    @Html.Partial("_Photo", Model.PhotoSet)
                </div>*@
                @*<div role="tabpanel" class="tab-pane" id="weixinSet">
                    <br />
                    @Html.Partial("_WeiXin", Model.WeiXinSet)
                </div>*@



            @Html.Partial("_SiteClose", Model.SiteCloseSet)





@section Header{

}

@section footer {
    @Scripts.Render("~/bundles/jqueryvalWithBootstrap")
    <script>
        function onBegin() {
            var btn = $(this).find('button[type="submit"]');
            btn.attr("data-text", btn.html());
            $(this).find('button[type="submit"]').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Loading...');
        }
        function onComplete() {
            var btn = $(this).find('button[type="submit"]');
            
            var html = btn.attr("data-text");
           $(this).find('button[type="submit"]').html(html);
        }
        function onSuccess(data) {
            Common.ShowBox(data.Status, data.Message, "@ViewBag.Title");
        //  debugger;
        }

        function SetThumbnail(fileUrl) {       
            $('#DashboardLogo').val(fileUrl);
            $("#imgDashboardLogo").attr("src", fileUrl);      
        }
     
        function SetLoginLogo(fileUrl) {        
            $('#LoginLogo').val(fileUrl);
            $("#imgLoginLogo").attr("src", fileUrl);         
        }

        


        $(function () {
            //tab 支持路径化
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop() || $('html').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
       

            $("#btnDashboardLogo").on("click", function () {
                singleEelFinder.selectActionFunction = SetThumbnail;
                singleEelFinder.open();           
            });

             $("#btnLoginLogo").on("click", function() {
                singleEelFinder.selectActionFunction = SetLoginLogo;
                singleEelFinder.open();
             });

         
            
        })
    </script>
}