@model IEnumerable<OutletVM>
@{

    QNZ.Data.PageMeta pm = (QNZ.Data.PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : "联系我们";


}
@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
    <link href="~/Plugins/toastr/toastr.min.css" rel="stylesheet" />

}



<div class="page-contact">
    <section class="s2  wow slideInUp" id="map_canvas">&nbsp;</section>
    <section class="s1">
        <div class="container">
            <div class="title-section">
                <h2 class="wow slideInUp">@SettingsManager.Company.CompanyName</h2>
                <p class="wow slideInUp">
                    地址：@SettingsManager.Company.Address 
                </p>
            </div>
            <div class="outlets">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-xl-6">
                            <div class="outlet wow slideInUp">
                                <div class="row align-items-center">
                                    <div class="col-md-auto">
                                        <img src="@item.Thumbnail" alt="@item.Name" />
                                    </div>
                                    <div class="col-md">
                                        <div class="txt">
                                            <h3>@item.Name</h3>
                                            <dl>
                                                <dd>地址：@item.Address</dd>
                                                <dd>联系人：@item.ContactMan @item.Phone</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="moreoutlet wow slideInUp">
                <h4>更多店</h4>
                <p>郑州，西安，长沙、杭州、东莞、重庆、<br />成都等正在筹备中</p>
            </div>
        </div>
    </section>

</div>


@section footer{

    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=05f5bda4fee10ca031971be07a04911b"></script>
    <script>
          $(document).ready(function () {
             $("#progress").height("100%");         
            $("#overly").fadeOut(1000);

            if (Modernizr.mq('(max-width: 991px)')) {
                $("#site-header").css({ "top": "0" });
                setTimeout(function () {
                    $("#progress").css({ "left": "-65px" });
                }, 300);

            } else {
                $("#site-header").css({ "left": "0" });
            }

          });

        var map = new AMap.Map('map_canvas', {
            resizeEnable: true,
            zoom: 17,
            center: [113.931679, 22.588017],
            mapStyle: "amap://styles/whitesmoke"
        });

        // 构造点标记
        var marker = new AMap.Marker({
            icon: "/content/img/marker.png",
            position: [113.931679, 22.588017]
        });

        // 单独将点标记添加到地图上
        map.add(marker);

      
    </script>
}