@model IEnumerable<OutletVM>
@{

    QNZ.Data.PageMeta pm = (QNZ.Data.PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : "联系我们";


}
@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
    <link href="~/Plugins/toastr/toastr.min.css" rel="stylesheet" />

}



<div class="page-contact">
    <section class="s2  wow slideInUp" id="map_canvas">&nbsp;</section>
    <section class="s1">
        <div class="container">
            <div class="title-section">
                <h2 class="wow slideInUp">深圳云门茶叶有限公司</h2>
                <p class="wow slideInUp">
                    地址：广东省深圳市南山区西丽街道留仙洞村留仙文化园4栋301A
                </p>
            </div>
            <div class="outlets">
                <div class="row">
                    @foreach(var item in Model)
                    {
                        <div class="col-xl-6">
                            <div class="outlet wow slideInUp">
                                <div class="row align-items-center">
                                    <div class="col-md-auto">
                                        <img src="@item.Thumbnail" alt="@item.Name" />
                                    </div>
                                    <div class="col-md">
                                        <div class="txt">
                                            <h3>@item.Name</h3>
                                            <dl>
                                                <dd>地址：@item.Address</dd>
                                                <dd>联系人：@item.ContactMan @item.Phone</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
          
            <div class="moreoutlet">
                <h4>更多店</h4>
                <p>郑州，西安，长沙、杭州、东莞、重庆、<br/>成都等正在筹备中</p>
            </div>
        </div>
    </section>

</div>


@section footer{

    <script src="https://api.map.baidu.com/api?v=2.0&ak=G7h0sKsr60IFU3OrHRmKTRzD"></script>
    <script>

        // 百度地图API功能
        var map = new BMap.Map("map_canvas");


        map.addControl(new BMap.NavigationControl());
        map.enableScrollWheelZoom(); //启用滚轮放大缩小，默认禁用
        map.enableContinuousZoom(); //启用地图惯性拖拽，默认禁用

        map.centerAndZoom(new BMap.Point(113.94924, 22.538721), 16);
        var point = new BMap.Point(113.94924, 22.538721);

        //var myIcon = new BMap.Icon("/Content/img/marker.png", new BMap.Size(132, 132));
        //var marker1 = new BMap.Marker(point, { icon: myIcon });  // 创建标注
        var marker1 = new BMap.Marker(point);

        map.addOverlay(marker1); // 将标注添加到地图中
        // marker1.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
        var sContent =
            "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>深圳清华大学研究院</h4>" +
            "<p>地址：深圳清华大学研究院大楼A402室<br/>" +
            "电话：010-80716680</p>" +
            "</div>";


        //创建信息窗口
        //var infoWindow1 = new BMap.InfoWindow(sContent);
        //marker1.addEventListener("click", function () { this.openInfoWindow(infoWindow1); });
        //marker1.openInfoWindow(infoWindow1);

        $(document).ready(function () {


        });
    </script>
}