@model ProductListVM

@{
    Layout = "~/Areas/Admin/Views/Shared/Layouts/_Layout2019.cshtml";
    ViewBag.Title = EntityNames.Product;
}

@section Header{


    <link href="~/Plugins/ekko-lightbox/dist/ekko-lightbox.min.css" rel="stylesheet" />

    <link href="~/plugins/SigFinder/SigFinder.min.css" rel="stylesheet" />
    <link href="~/plugins/webuploader/webuploader.css" rel="stylesheet" />
}


<div class="row mb-3">
    <div class="col-sm">
        @using (Html.BeginForm("Index", null, FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label class="sr-only" for="Keyword">关键字</label>
                @Html.TextBoxFor(model => model.Keyword, new { @class = "form-control mr-sm-2", placeholder = "关键字" })
                @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.Categories, Labels.Category + "过滤", new { @class = "form-control mr-sm-2" })
            </div>
            <button type="submit" class="btn btn-primary"><i class="iconfont icon-search"></i> 查找</button>
        }
    </div>
    <div class="col-sm-auto">
        <a class="btn btn-primary" href="@Url.Action("Edit")"><i class="iconfont icon-edit"></i> @string.Format("{0}{1}", Buttons.Add, EntityNames.Product)</a>
        @*<a class="btn btn-outline-secondary createIndex" href="#" data-url="@Url.Action("CreateIndex")"><i class="iconfont icon-securityscan"></i> @Buttons.CreateIndex</a>*@
    </div>

</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-vmiddle">
        <thead>
            <tr>
                <th>
                    缩略图
                </th>
                <th>
                    产品型号
                </th>
                <th>
                    产品名称
                </th>
                <th>
                    组图
                </th>
                <th>
                    所属分类
                </th>
                <th>
                    排序
                </th>
                <th>
                    显示
                </th>
                <th>
                    激活
                </th>
                <th>
                    推荐
                </th>

                <th>
                    创建日期
                </th>
                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Product in Model.Products)
            {
                Html.RenderPartial("_ProductItem", Product);

            }

        </tbody>

    </table>


</div>

<div class="container-fluid pt-3" style="background-color: #fff;">
    <div class="row">
        <div class="col">
            @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { page = page,  categoryId = Model.CategoryId, keyword = Model.Keyword }), new PagedListRenderOptions()
            {
                LiElementClasses = new List<string> { "page-item" }

            })
        </div>
        <div class="col-md-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">总记录<strong>@Model.TotalCount</strong>条，分页</span>
                </div>
                @Html.DropDownListFor(m => Model.PageSize, (SelectList)ViewBag.PageSizes, "分页", new { @class = "custom-select" })
            </div>

        </div>
    </div>

</div>

<!-- end main container -->
@Html.Action("PopuFinder", "File")

<div id="edit-container">
</div>

<form id="anti-form" method="post">
    @Html.AntiForgeryToken()
</form>


@section footer {
    @Scripts.Render("~/bundles/jqueryvalWithBootstrap")

    <script src="~/Plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <script src="/Plugins/webuploader/webuploader.min.js"></script>
    <script src="/Plugins/SigFinder/FileManager.js"></script>

    <script>
        function SetThumbnail() {
            var fileUrl = $("#fileList .item.active").attr("data-file");
            $('#Thumbnail').val(fileUrl);
            $('#fileManagerModal').modal('hide');
        }

        //function SetImageUrl(fileUrl) {
        //    $('#ImageUrl').val(fileUrl);
        //}


        function OnSuccessLink(data) {
            Common.ShowBox(data.Status, data.Message, "操作")
        }




        function onBegin() {
            $("#btnSave i").removeClass("fa-save").addClass("fa-spinner fa-spin")
        }
        function onComplete() {
            $("#btnSave i").removeClass("fa-spinner fa-spin").addClass("fa-save")
        }


        @*function updateSuccess(data) {

            switch (data.Status) {
                case 2:
                    toastr.error(data.Message, '@ViewBag.Title');
                    break;
                case 1:
                    toastr.success(data.Message, '@ViewBag.Title');
                    $('#ModalEdit').modal('hide');
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                    break;
                case 4:
                    toastr.warning(data.Message, "@ViewBag.Title")
                    break;
            }

        }*@

        //======== upload product photos ================
        //function SetThumbnail(fileUrl) {
        //    $('#ImgURL').val(fileUrl);
        //}

        function uploadSuccess(data) {
            Common.ShowBox(data.Status, data.Message, "操作");
            var url = "/bbi-Admin/Product/GetPhotos?productId=" + data.Data;
            $("#photos-container").load(url);
        }


        function onAjaxPhotosComplete() {
            $('#ModalPhotoEdit').modal();

            $("#btnThumbnail").on("click", function () {
                $('#fileManagerModal').modal();
                $("#selectImage").unbind('click');
                $("#selectImage").bind("click", function () {
                    SetThumbnail();
                });
            });


            //delete
            $(document).on("click", '.deletePhoto-item', function (e) {
                e.preventDefault();
                var url = $(this).attr('data-url');

                bootbox.setLocale("zh_CN");

                bootbox.confirm("是否确定删除该项？", function (result) {
                    if (result) {
                        $.post(url, $("#anti-form").serialize(), function (data) {

                            Common.ShowBox(data.Status, data.Message, "操作")

                            var url = "/bbi-Admin/Product/GetPhotos?productId=" + data.Data;
                            $("#photos-container").load(url);
                        });
                    }
                });
            });
        }
        //======== end upload product photos ================

        $(function () {
            //lightbox events
            $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

            $(document).on("change", '#PageSize', function (e) {
                e.preventDefault();

                var url = "@Url.Action("PageSizeSet")", title = "分页设置", pageSize = $(this).val();
                Common.PageSizeSet(url, title, pageSize, setPageSizeFunc);

            });

            function setPageSizeFunc() {
                location.reload();
            }


            $(document).on("click", '.active-item','.recommend-item', function (e) {
            //$('.recommend-item,.active-item').click(function (e) {
                e.preventDefault();
                var url = $(this).attr('data-url'), title = $(this).attr('data-action'), that = $(this);
                Common.SingleActionWithFuncBack(url, title, that, submitFunc);

              //  Common.SingleAction(url, title, true);
            });


            function submitFunc(that, data) {
                var tr = that.closest('.item-container').replaceWith(data);
            }

             //delete
            $(document).on("click", '.delete-item', function (e) {
                e.preventDefault();

                var url = $(this).attr('data-url');
                var that = $(this);
                bootbox.setLocale("zh_CN");
                bootbox.confirm("你确定要删除此项吗？", function (result) {
                    /*DELETE*/
                    if (result) {
                        var title = "@ViewBag.Title";
                        Common.DeleteItem(url, title, that);
                    }

                });

            });

            // create index
            $(document).on("click", '.createIndex', function (e) {
                e.preventDefault();
                var url = $(this).attr('data-url');
                var that = $(this);
                bootbox.setLocale("zh_CN");
                bootbox.confirm("你确定要创建索引目录吗？", function (result) {
                    if (result) {
                        var title = "创建索引目录";
                        $.post(url, function (data) {
                            Common.ShowBox(data.Status, data.Message, title);
                        })
                    }
                });

            });

        });
    </script>

}