@model TZGCMS.Data.Entity.Articles.Article
@{

    PageMeta pm = (PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : Model.Title;

}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
}

@Html.Partial("_CooperationHeader")


<!-- BLOG   ================================================== -->
<section class="page page-news-detail">
    <div class="container">
        <div class=" article">
            <div class="title title-section">
                <h2>@Model.Title</h2>
            </div>


            <div class="note">
                <ul>
                    <li>
                        发布日期：  @string.Format("{0:D}", Model.Pubdate)
                    </li>
                    <li>
                        分类： @Model.CategoryTitle
                    </li>
                </ul>
            </div>
            <div class="content">
                @Html.Raw(Model.Body)
            </div>

        </div>


    </div>


</section>

@section footer{
    <script>
        $(function () {
            $("#mainav li").eq(1).addClass("active");
        })
    </script>

}