@model IEnumerable<Menu>
    <ul class="mainav">
        @foreach (var item in Model.Where(d => d.ParentId == null))
        {
            <li class="@(item.ChildMenus.Any() ? "downav" : "") @(item.Url.Equals(Request.RawUrl) || (item.ChildMenus.Any() && item.ChildMenus.Select(m=>m.Url).Contains(Request.RawUrl)) ?"active":"")">

                <a href="@item.Url" class="">
                    @item.Title
                    @if (item.ChildMenus.Any())
                    {
                        <i class="iconfont icon-down"></i>
                    }
                </a>

                @if (item.ChildMenus.Any())
                {

                    <div class="subnav">
                        <dl>
                            @foreach (var subItem in item.ChildMenus)
                            {

                              
                        <dd class="@(subItem.Url.Equals(Request.RawUrl)?"current":"")">
                            <a href="@subItem.Url">
                                @subItem.Title
                            </a>
                        </dd>

                 

                }
                            </dl>
                            </div>
                        }
                </li>

            }

    </ul>


