
@model IEnumerable<QNZ.Data.Menu>
<ul class="botnav">
    @foreach (var item in Model.Where(d => d.ParentId == null))
    {
        <li class="col @(item.Menus.Any() ? "downav" : "") @(item.Url.Equals(Request.RawUrl) || (item.Menus.Any() && item.Menus.Select(m=>m.Url).Contains(Request.RawUrl)) ?"active":"")">

            <a href="@(item.Url=="#"?"javascript:void(0);":item.Url)" class="node">
                @item.Title               
            </a>

            @*@if (item.ChildMenus.Any())
            {
                <ul class="bot_subnav">

                    @foreach (var subItem in item.ChildMenus)
                    {

                        if (subItem.Url.Equals(Request.RawUrl))
                        {
                            <li class="current">
                                <a href="@subItem.Url">
                                    @subItem.Title
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@subItem.Url">
                                    @subItem.Title
                                </a>
                            </li>
                        }

                    }

                </ul>
            }*@
        </li>

    }

</ul>

