@model IEnumerable<QNZ.Data.Menu>
    <div class="mainav-container" id="mainav-container">
        <div class="row no-gutters">
            <div class="col-md">

                <ul class="mainav" id="mainav">
                    @foreach (var item in Model.Where(d => d.ParentId == null))
                    {
                        <li class="@(item.Menus.Any() ? "downav" : "") ">

                            <a href="@item.Url" class="@(item.Url.Equals(Request.RawUrl) ?"active":"")" data-id="nav-@item.Id">
                                <small>@item.TitleEn</small>
                                @item.Title
                                @if (item.Menus.Any())
                                {
                                    <i class="iconfont icon-yidiandiantubiao10"></i>
                                }
                            </a>

                            @if (item.Menus.Any())
                            {

                                <div class="subnav">
                                    <dl>
                                        @foreach (var subItem in item.Menus.OrderBy(d => d.Importance))
                                        {
                                            <dd>
                                                <a href="@subItem.Url" data-id="nav-@subItem.Id" class="@(subItem.Url.Equals(Request.RawUrl)?"active":"")">
                                                    @subItem.Title
                                                </a>
                                            </dd>

                                        }
                                    </dl>
                                </div>
                            }
                        </li>

                    }

                </ul>


            </div>
            <div class="col-md navbg-grid">
                <div class="navbg-container">
                    @foreach (var item in Model)
                    {
                        <div class="navbg @(item.Url.Equals(Request.RawUrl) ?"active":"")" id="nav-@item.Id">
                            <img src="@item.Iconfont" alt="@item.Title" />
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="iconsocai">

            <a href="#">
                <i class="iconfont icon-cart2f"></i>
            </a>
            <a href="javascript:void(0);" class="wechat">
                <i class="iconfont icon-wechat"></i>
                <img src="@SettingsManager.Company.WeiXingCode" alt="" />
            </a>
        </div>
    </div>
