@model TZGCMS.Model.Front.HomeVM
@{

    PageMeta pm = (PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : SettingsManager.Site.SiteName;

}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }


    <link href="~/Plugins/swiper/css/swiper.min.css" rel="stylesheet" />

}

@Html.Action("SingleAdForHome", "AD", new { code = "A1001" })



<div class="page page-home">
    <section class="container s1">
        <h2 class="title title-section">轻钢结构建筑智能制造设备生产厂商</h2>
        <p class="p-md">
            佛山市孚瑞美科技有限公司（FrameMac），是一家技术领先的轻钢结构建筑智能制造设备生产厂商，提供软硬件一体化的全自动轻钢建筑框架生
            产解决方案。“FrameMac”解决方案实现了由CAD建筑设计软件到生产加工、建造安装的“端到端”生产无缝连接。
        </p>
        <div class="fourth row">
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="pic">
                        <img src="~/Content/img/icon5.png" alt="自有知识产权" />
                    </div>
                    <h3 class="title">自有知识产权</h3>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="pic">
                        <img src="~/Content/img/icon6.png" alt="定制化需求" />
                    </div>
                    <h3 class="title">定制化需求</h3>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="pic">
                        <img src="~/Content/img/icon7.png" alt="一站式服务" />
                    </div>
                    <h3 class="title">一站式服务</h3>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="pic">
                        <img src="~/Content/img/icon8.png" alt="国际品质认证" />
                    </div>
                    <h3 class="title">国际品质认证</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="s2">
        <div class="container">
            <video src="/content/img/space.mp4" poster="/content/img/space.jpg" controls="controls">
                您的浏览器不支持 video 标签。
            </video>

        </div>
    </section>

    <section class="s3">
        <div class="container">
            <h2 class="title title-section">始终坚持优质产品</h2>
            <p>
                生产系统采用国际主流的人机交互界面，以人为本。机器的控制界面以操作者为对象设计，简洁形象，所见即所得，易于生产管理。依托丰富的冷弯设备精工制造经验与成熟的软件开发能力，孚瑞美愿和各界朋友广泛合作，携手相助，开拓轻钢结构房屋市场的广阔空间，共同发展。
            </p>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url('/Content/img/temp/hp01.jpg')">
                    <a href="#" class="item">
                        <h3 class="des">
                            FrameMac C型龙骨设备
                        </h3>
                        <div class="go"><span>了解更多</span> <i class="iconfont icon-arrow-right"></i></div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image:url('/Content/img/temp/hp01.jpg')">
                    <a href="#" class="item">
                        <h3 class="des">
                            FrameMac C型龙骨设备
                        </h3>
                        <div class="go"><span>了解更多</span> <i class="iconfont icon-arrow-right"></i></div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image:url('/Content/img/temp/hp01.jpg')">
                    <a href="#" class="item">
                        <h3 class="des">
                            FrameMac C型龙骨设备
                        </h3>
                        <div class="go"><span>了解更多</span> <i class="iconfont icon-arrow-right"></i></div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image:url('/Content/img/temp/hp01.jpg')">
                    <a href="#" class="item">
                        <h3 class="des">
                            FrameMac C型龙骨设备
                        </h3>
                        <div class="go"><span>了解更多</span> <i class="iconfont icon-arrow-right"></i></div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image:url('/Content/img/temp/hp01.jpg')">
                    <a href="#" class="item">
                        <h3 class="des">
                            FrameMac C型龙骨设备
                        </h3>
                        <div class="go"><span>了解更多</span> <i class="iconfont icon-arrow-right"></i></div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image:url('/Content/img/temp/hp01.jpg')">
                    <a href="#" class="item">
                        <h3 class="des">
                            FrameMac C型龙骨设备
                        </h3>
                        <div class="go"><span>了解更多</span> <i class="iconfont icon-arrow-right"></i></div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image:url('/Content/img/temp/hp01.jpg')">
                    <a href="#" class="item">
                        <h3 class="des">
                            FrameMac C型龙骨设备
                        </h3>
                        <div class="go"><span>了解更多</span> <i class="iconfont icon-arrow-right"></i></div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image:url('/Content/img/temp/hp01.jpg')">
                    <a href="#" class="item">
                        <h3 class="des">
                            FrameMac C型龙骨设备
                        </h3>
                        <div class="go"><span>了解更多</span> <i class="iconfont icon-arrow-right"></i></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="btn-nav swiper-prev"><i class="iconfont icon-back"></i></div>
        <div class="btn-nav swiper-next"><i class="iconfont icon-next"></i></div>
        <a class="btn-nav" href="/products">查看更多</a>
    </section>

    <section class="s4">
        <div class="top">
            <img src="~/Content/img/case_bg.png" alt="" class="bg" />
            <div class="container casebox">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title title-v2">
                            客户案例
                        </h3>
                        <h4 class="title">轻钢结构</h4>
                        <p>
                            为轻钢结构是一种年轻而极具生命力的钢结构体系，已广泛应用于一般工农业、商业、服务性建筑，如办公楼、别墅、仓库、体育场馆、娱乐、旅游建筑和低、多层住宅建筑等领域，还可用于旧房增层、改造、加固和建材缺乏地区、运输不便地区、工期紧、活动式可拆迁建筑等，倍受业主青睐..
                        </p>
                        <a href="#">查看更多 <i class="iconfont icon-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="bot">
            <img src="~/Content/img/case_bg1.png" alt="" class="bg1" />

            <div class="container">
                @Html.Action("RecommendCases", "Cases", new { count = 3 })
            </div>
        </div>

        <div class="container text-center">
            <a href="/cases" class="more">查看更多 <i class="iconfont icon-right"></i></a>
        </div>
        <div class="contact_bar" style="z-index:200">
            <div class="txt">
                <div class="row align-items-center justify-content-md-center">
                    <div class="col-auto"> 有兴趣了解更多？</div>
                    <div class="col-auto"><a href="/contact">联系我们</a></div>
                </div>

            </div>
        </div>
    </section>
   
    <section class="s5">
        <div class="top">
            <div class="container newsbox">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title title-v2">
                            新闻中心
                        </h3>
                        <h4 class="title">广州住博会2019 FRAMEMAC</h4>
                        <p>
                            为轻钢结构是一种年轻而极具生命力的钢结构体系，已广泛应用于一般工农业、商业、服务性建筑，如办公楼、别墅、仓库、体育场馆、娱乐、旅游建筑和低、多层住宅建筑等领域，还可用于旧房增层、改造、加固和建材缺乏地区、运输不便地区、工期紧、活动式可拆迁建筑等，倍受业主青睐..
                        </p>
                        <a href="#">查看更多 <i class="iconfont icon-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container newslist">
            @Html.Action("RecentNews", "Article", new { count = 3 })
        </div>
        <div class="container text-center">
            <a href="/cases" class="more">查看更多 <i class="iconfont icon-right"></i></a>
        </div>
    </section>
</div>



@section footer{

    <script src="~/Plugins/swiper/js/swiper.min.js"></script>
    <script>

        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 2,
            slidesPerColumn: 2,
            spaceBetween: 0,
            navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
            breakpoints: {
  
            768: {
                    slidesPerColumn: 2,
                      slidesPerView:2
             
            },
        
            320: {
                slidesPerColumn: 1,
                      slidesPerView: 1
              
            }
          }
        });

        $(document).ready(function () {


        });
    </script>


}