@model TZGCMS.Model.Front.HomeVM
@{

    PageMeta pm = (PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : SettingsManager.Site.SiteName;
      ViewBag.HeaderClassName = "home_header";
      ViewBag.HeaderClass = "home_body";
}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }

   
}


@*@Html.Action("Carousels", "AD", new { code = "A1001" })*@

<div class="banner-home">
    @if (Model.Carousel != null)
    {
        <picture>
            <source media="(orientation: landscape)" srcset="@Model.Carousel.ImageUrl">
            <source media="(orientation: portrait)" srcset="@Model.Carousel.ImageUrlMobile">
            <img src="@Model.Carousel.ImageUrl" alt="@Model.Carousel.Title">
        </picture>
    }

</div>


<div class="page-home">
    <section class="s1 container" style="background-image:url('@(Model.Carousel2!=null ? Model.Carousel2.ImageUrl : "/content/img/1x/photo01-80.jpg")')">
        @Html.Action("Paragraph", "Pages", new { seoName ="home_about" })

    </section>

    @Html.Action("RecentNews", "Article", new { count = 8 })

</div>


@*@Html.Action("RecentNews", "Article", new { count = 3 })*@





@section footer{

  
    <script>

        $(document).ready(function () {


        });
    </script>


}