@model ArticleIM
@{
    ViewBag.Title = "编辑" + EntityNames.Article;
    ViewBag.PageTitle = ViewBag.Title + "_内容";
}


@section Header{
    <link href="~/plugins/SigFinder/SigFinder.min.css" rel="stylesheet" />
    <link href="~/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/bootstrap/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}


@using (Ajax.BeginForm("Edit", null, new AjaxOptions
{

    HttpMethod = "POST",
    OnBegin = "onBeginSave",
    OnComplete = "onCompleteSave",
    OnSuccess = "updateSuccess"

}, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)


    <div class="panel panel-default">
        <header class="panel-heading">
            <span class="glyphicon glyphicon-edit"></span> @ViewBag.Title
        </header>

        <section class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#product" aria-controls="product" role="tab" data-toggle="tab">@EntityNames.Article</a></li>
                <li role="presentation"><a href="#seo" aria-controls="seo" role="tab" data-toggle="tab">SEO设置</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" style="padding-top:30px;">
                <div role="tabpanel" class="tab-pane active" id="product">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = Labels.Title })
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryId, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.Categories, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoryId)
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Thumbnail, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Thumbnail, new { @class = "form-control", placeholder = Labels.Thumbnail })
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="btnThumbnail" type="button">浏览…</button>
                                </span>
                            </div><!-- /input-group -->
                            <span class="help-block">@string.Format("图像大小：{0}x{1} 像素", SettingsManager.Article.ThumbWidth, SettingsManager.Article.ThumbHeight) <a href="/bbi-admin/info/site#newsSet" title="设置"><i class="fa fa-cog"></i></a></span>
                       
                            @Html.ValidationMessageFor(model => model.Thumbnail)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FullImage, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.FullImage, new { @class = "form-control", placeholder = Labels.FullImage })
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="btnFullImage" type="button">浏览…</button>
                                </span>
                            </div><!-- /input-group -->
                            <span class="help-block">@string.Format("图像大小：{0}x{1} 像素", SettingsManager.Article.ImageWidth, SettingsManager.Article.ImageHeight) <a href="/bbi-admin/info/site#newsSet" title="设置"><i class="fa fa-cog"></i></a></span>
                      
                            @Html.ValidationMessageFor(model => model.FullImage)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Body, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Body, new { @class = "form-control", placeholder = "内容" })
                            @Html.ValidationMessageFor(model => model.Body)
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Summary, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Summary, new { @class = "form-control", placeholder = "描述" })
                       
                            @Html.ValidationMessageFor(model => model.Summary)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Source, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Source, new { @class = "form-control", placeholder = Labels.Source })
                            @Html.ValidationMessageFor(model => model.Source)
                        </div>
                    </div>   
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.SourceLink, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.SourceLink, new { @class = "form-control", placeholder = Labels.SourceLink })
                            @Html.ValidationMessageFor(model => model.SourceLink)
                        </div>
                    </div>   
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pubdate, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <div class='input-group date' id='datetimepicker2'>
                                @Html.TextBoxFor(model => model.Pubdate, new { @class = "form-control", placeholder = Labels.Pubdate })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Pubdate)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5 col-md-offset-2">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.Active)  @Html.DisplayNameFor(model => model.Active)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            @Html.ValidationMessageFor(model => model.Active)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5 col-md-offset-2">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.CanComment)  @Html.DisplayNameFor(model => model.CanComment)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            @Html.ValidationMessageFor(model => model.CanComment)
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-5 col-md-offset-2">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.Recommend)  @Html.DisplayNameFor(model => model.Recommend)
                                </label>
                            </div>

                        </div>
                        <div class="col-md-5">
                            @Html.ValidationMessageFor(model => model.Recommend)
                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="seo">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SEOTitle, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.SEOTitle, new { @class = "form-control", placeholder = "标题(SEO)" })
                            @Html.ValidationMessageFor(model => model.SEOTitle)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Keywords, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Keywords, new { @class = "form-control", placeholder = "关键字(SEO)" })

                            @Html.ValidationMessageFor(model => model.Keywords)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SEODescription, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.SEODescription, new { @class = "form-control", placeholder = "描述(SEO)" })

                            @Html.ValidationMessageFor(model => model.SEODescription)
                        </div>
                    </div>

                </div>

            </div>


        </section>
        <footer class="panel-footer text-center">
            <button type="submit" class="btn btn-primary" id="btnSave"><i class="fa fa-save fa-fw"></i>  @Buttons.Update </button>
            <a href="@Url.Action("Index")" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> @Buttons.Back</a>
        </footer>

    </div>
}


@Html.Action("PopuFinder", "File")

@section Footer {
    @Scripts.Render("~/bundles/jqueryvalWithBootstrap")
    <script src="/Plugins/webuploader/webuploader.min.js"></script>
    <script src="/Plugins/SigFinder/FileManager.js"></script>
    <script src="~/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/plugins/tinymce/langs/zh_CN.js"></script>
<script src="~/scripts/lib/moment/moment-with-locales.min.js"></script>
<script src="~/Areas/Admin/Content/bootstrap/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        function SetThumbnail() {
            var fileUrl = $("#fileList .item.active").attr("data-file");
            $('#Thumbnail').val(fileUrl);
            $('#fileManagerModal').modal('hide');
        }

        function SetFullImage() {
            var fileUrl = $("#fileList .item.active").attr("data-file");
            $('#FullImage').val(fileUrl);
            $('#fileManagerModal').modal('hide');
        }

        function onBeginSave() {
            $("#btnSave i").removeClass("fa-save").addClass("fa-spinner fa-spin");
        }
        function onCompleteSave() {
            $("#btnSave i").removeClass("fa-spinner fa-spin").addClass("fa-save");
        }

    function updateSuccess(data) {
        var title = '@ViewBag.Title';
        Common.ShowBox(data.Status, data.Message, title);
    }

        tinymce.init({
            selector: '#Body',  // change this value according to your HTML
            height: 400,
            language: 'zh_CN',
            theme: 'modern',
            convert_urls: false,
            plugins: [
              'advlist autolink lists link image charmap print preview hr anchor pagebreak',
              'searchreplace wordcount visualblocks visualchars code fullscreen',
              'insertdatetime media nonbreaking save table contextmenu directionality',
              'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
            ],
            toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image print preview media | forecolor backcolor emoticons | codesample',
            image_advtab: true,
            templates: [
              { title: 'Test template 1', content: 'Test 1' },
              { title: 'Test template 2', content: 'Test 2' }
            ],
            //picture manager
            file_browser_callback: callSigFinder,
            templates: [
        { title: 'Some title 1', description: 'Some desc 1', content: 'My content' },
        { title: 'Some title 2', description: 'Some desc 2', url: 'development.html' }
            ]

        });
        function callSigFinder(field_name, url, type, win) {
            var roxyFileman = '@Url.Action("FinderForTinyMCE","File",new { area="Admin"})';
            tinyMCE.activeEditor.windowManager.open({
                file: roxyFileman,
                title: 'SigFinder',
                width: 850,
                height: 655,
                resizable: "yes",
                plugins: "media",
                inline: "yes",
                close_previous: "no"
            }, { window: win, input: field_name });
            return false;

        }

        $(function () {
            $("#btnThumbnail").on("click", function () {
                $('#fileManagerModal').modal();
                $("#selectImage").unbind('click');
                $("#selectImage").bind("click", function () {
                    SetThumbnail();
                });
            });

            $("#btnFullImage").on("click", function () {
                $('#fileManagerModal').modal();
                $("#selectImage").unbind('click');
                $("#selectImage").bind("click", function () {
                    SetFullImage();
                });
            });

            $('#datetimepicker2').datetimepicker({
                locale: 'zh-CN',
                format: 'L'
            });
        })

    </script>
}




