@model EmailIM
@{

    PageMeta pm = (PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : "联系我们";
}
@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
    <link href="~/Plugins/toastr/toastr.min.css" rel="stylesheet" />
    <style>
        #success-msg-container,
        #fail-msg-container {
            display: none;
        }
    </style>

}

@*<div class="container p-t-40">
        <header class="title">
            <h2 class="animated fadeInLeftBig">@ViewBag.Title</h2>
            <p class="animated fadeInRightBig">
                很高兴您们的来电联系反馈，我们会认真听取和改进我们的不足，谢谢您们。
            </p>
        </header>
    </div>*@


<div class="baidumap" id="map_canvas"></div>

<section class="container page-contact">
    <div class="salers">
        <div class="row">
            <div class="col-sm-4">
                <div class="saler">
                    <h3>国内品牌加盟</h3>
                    <div class="avatar">
                        <img src="~/Themes/fengneng/Content/img/saler/photo-4.jpg" class="img-responsive img-circle" />
                    </div>
                    <dl>
                        <dd>陶先生</dd>
                        <dd>
                            <i class="iconfont icon-mobile"></i>  86 18371076792
                        </dd>
                        <dd>
                            <i class="iconfont icon-phone"></i>   0755 - 36947220
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="saler">
                    <h3>礼品定制服务</h3>
                    <div class="avatar">
                        <img src="~/Themes/fengneng/Content/img/saler/photo-5.jpg" class="img-responsive img-circle" />
                    </div>
                    <dl>
                        <dd>严先生</dd>
                        <dd>
                            <i class="iconfont icon-mobile"></i>  86 18672264533
                        </dd>
                        <dd>
                            <i class="iconfont icon-phone"></i>   0755 - 36947220
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="saler">
                    <h3>海外品牌加盟</h3>
                    <div class="avatar">
                        <img src="~/Themes/fengneng/Content/img/saler/photo-6.jpg" class="img-responsive img-circle" />
                    </div>
                    <dl>
                        <dd>谢小姐</dd>
                        <dd>
                            <i class="iconfont icon-mobile"></i>  86 15815961545
                        </dd>
                        <dd>
                            <i class="iconfont icon-phone"></i>   0755 - 36947220
                        </dd>
                    </dl>
                </div>
            </div>

        </div>
    </div>

</section>
<div class="contactus">
    <div class="container">
        <h4 class="setitle">+@SettingsManager.Contact.CompanyName</h4>
        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <li>地址: @SettingsManager.Contact.Address</li>                  
                </ul>
              
            </div>
            <div class="col-sm-3">
                <ul>

                    <li>电话: @SettingsManager.Contact.Phone</li>
                    <li>联系人: @SettingsManager.Contact.ContactMan</li>


                </ul>
            </div>
            <div class="col-sm-3">
                <ul>

                    <li>邮箱: <a href="mailto:@SettingsManager.Contact.MailTo">@SettingsManager.Contact.MailTo</a></li>
                    <li>
                        业务QQ: <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=@SettingsManager.Social.Oicq&site=@SettingsManager.Site.SiteName&menu=yes">@SettingsManager.Social.Oicq</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

@section footer{
    @Scripts.Render("~/bundles/jqueryvalAjax")
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script>

    function onBeginSave() {
        $("#btnSave").text("发送中...");
    }
    function onCompleteSave() {
        $("#btnSave").text("提交");
    }

    function updateSuccess(data) {
        var title = '@ViewBag.Title';
      //  Common.ShowBox(data.Status, data.Message, title);

        switch (data.Status) {
            case 1:
                toastr.success(data.Message, title)
                break;
            case 2:
                toastr.error(data.Message, title)
                break;
            case 3:
                toastr.info(data.Message, title)
                break;
            case 4:
                toastr.warning(data.Message, title)
        }
    }

    </script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=G7h0sKsr60IFU3OrHRmKTRzD"></script>
    <script>
         // 百度地图API功能
    var map = new BMap.Map("map_canvas");


    map.addControl(new BMap.NavigationControl());
    map.enableScrollWheelZoom();    //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用

    map.centerAndZoom(new BMap.Point(114.072618, 22.803882), 16);
    var point = new BMap.Point(114.072618, 22.803882);

    var myIcon = new BMap.Icon("/Themes/fengneng/Content/img/marker.png", new BMap.Size(132, 132));
    var marker1 = new BMap.Marker(point, { icon: myIcon });  // 创建标注
    // var marker1 = new BMap.Marker(point);

    map.addOverlay(marker1);              // 将标注添加到地图中
    // marker1.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    var sContent =
"<h4 style='margin:0 0 5px 0;padding:0.2em 0'>@SettingsManager.Contact.CompanyName</h4>" +
"<p>地址：@SettingsManager.Contact.Address <br/>" +
"电话：@SettingsManager.Contact.Phone</p>" +
"</div>";


    //创建信息窗口
    var infoWindow1 = new BMap.InfoWindow(sContent);
    marker1.addEventListener("click", function () { this.openInfoWindow(infoWindow1); });

    // marker1.openInfoWindow(infoWindow1);

    </script>
}
