@model JobIM
@{

    Layout = "~/Areas/Admin/Views/Shared/Layouts/_Layout2019.cshtml";
    ViewBag.Title = "编辑" + EntityNames.Laboratory;
    ViewBag.PageTitle = ViewBag.Title + "_内容";
}


@section Header{

    <link href="~/Plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
}


@using (Ajax.BeginForm("Edit", null, new AjaxOptions
{

    HttpMethod = "POST",
    OnBegin = "onBeginSave",
    OnComplete = "onCompleteSave",
    OnSuccess = "updateSuccess"

}, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)


    <div class="card">
        <header class="card-header">
            <span class="glyphicon glyphicon-edit"></span> @ViewBag.Title
        </header>

        <section class="card-body">
            <div class="row">
                <div class="col-md">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Post, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Post, new { @class = "form-control", placeholder = Labels.Post })
                            @Html.ValidationMessageFor(model => model.Post)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Category, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Category, (SelectList)ViewBag.Categories, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Category)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Address, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Description, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>



                    <div class="form-group row">
                        @Html.LabelFor(model => model.Quantity, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", placeholder = Labels.Quantity })
                            @Html.ValidationMessageFor(model => model.Quantity)
                        </div>
                    </div>


                    <div class="form-group row">
                        @Html.LabelFor(model => model.Importance, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Importance, new { @class = "form-control", placeholder = Labels.Importance })
                            @Html.ValidationMessageFor(model => model.Importance)
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-2">激活</div>
                        <div class="col-md-10">
                            <div class="form-check">
                                @Html.CheckBoxFor(model => model.Active, new { @class = "form-check-input" })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                   
                </div>
            </div>
        
  

        </section>
        <footer class="card-footer text-center">
            <button type="submit" class="btn btn-primary" id="btnSave"><i class="fa fa-save fa-fw"></i>  @Buttons.Update </button>
            <a href="@Url.Action("Index")" class="btn btn-secondary"><span class="fa fa-chevron-left fa-fw"></span> @Buttons.Back</a>
        </footer>

    </div>
}




@section Footer {
    @Scripts.Render("~/bundles/jqueryvalWithBootstrap")
    <script src="~/Plugins/tinymce5/tinymce.min.js"></script>
    <script src="~/scripts/lib/moment/moment-with-locales.min.js"></script>
    <script src="~/Plugins/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Plugins/holderjs/holder.min.js"></script>
    <script>


        function SetThumbnail(fileUrl) {
            $("#iLogo").attr("src", fileUrl);
            $('#Thumbnail').val(fileUrl);
        }


        function onBeginSave() {
            $("#btnSave i").removeClass("fa-save").addClass("fa-spinner fa-spin");
        }
        function onCompleteSave() {
            $("#btnSave i").removeClass("fa-spinner fa-spin").addClass("fa-save");
        }

        function updateSuccess(data) {
            var title = '@ViewBag.Title';
            Common.ShowBox(data.Status, data.Message, title);
        }


        tinymce.init({
            selector: '#Description',  // change this value according to your HTML
            height: 400,
            language: 'zh_CN',

            convert_urls: false,
            extended_valid_elements: 'span',
            image_advtab: true,

            //picture manager
            file_picker_callback: singleEelFinder.elFinderBrowser,
            images_upload_handler: singleEelFinder.ImagesUploadHandler,
            plugins: 'print preview code importcss  searchreplace autolink autosave save directionality  visualblocks visualchars fullscreen image link media  template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists  wordcount   imagetools textpattern noneditable help    charmap   quickbars  emoticons',

              toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment code',
              autosave_ask_before_unload: true,
              autosave_interval: "30s",
              autosave_prefix: "{path}{query}-{id}-",
              autosave_restore_when_empty: false,
                autosave_retention: "2m",

            image_advtab: true,
            importcss_append: true,
            image_caption: true,
            templates: [
                { title: '新表格', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
            { title: '文章样式', description: 'A cure for writers block', content: 'Once upon a time...' },
            { title: '列表样式', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
          ]


        });




        $(function () {

            $("#btnThumbnail").on("click", function() {
                singleEelFinder.selectActionFunction = SetThumbnail;
                singleEelFinder.open();
            });




            $.datetimepicker.setLocale('ch');
            $('#Pubdate').datetimepicker();
        })

    </script>
}




