@model PositionListVM
@{
    ViewBag.PageTitle = EntityNames.Position;
    ViewBag.Title = ViewBag.PageTitle + "_内容";   
}

@section header{
<link href="~/bower_components/ekko-lightbox/dist/ekko-lightbox.min.css" rel="stylesheet" />
    <link href="~/plugins/SigFinder/SigFinder.min.css" rel="stylesheet" />
    <link href="~/plugins/webuploader/webuploader.css" rel="stylesheet" />
}

    <div class="panel panel-default">
        <header class="panel-heading">       
            <div class="pull-right">
                @Ajax.RawActionLink("<i class='fa fa-plus fa-fw'></i>添加" + EntityNames.Position,
                        "Add", "Position",
                        new { },
                        new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "edit-container", OnComplete = "onAjaxComplete", OnSuccess = "OnSuccessLink" },
                        new { @class = "btn btn-primary" })
            </div>    

            <form class="form-inline">
                <div class="form-group">
                    <label for="Keyword">关键字</label>
                    @Html.TextBoxFor(model => model.Keyword, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search fa-fw"></i>查找</button>
            </form>
         
        </header>
        <table class="table table-hover table-vmiddle">
            <thead>
                <tr>     
                    <th>
                        示意图
                    </th>                  
                    <th>
                        主题
                    </th>     
                    <th>
                        位置编码
                    </th>             
                    <th>
                        排序
                    </th> 
                    <th>
                        激活？
                    </th>     
                    <th>
                        操作
                    </th>  
                  </tr>
            </thead>
            <tbody id="tbList">
                @Html.Partial("_PositionList",Model.Positions)
            </tbody>
        </table>

        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-7">
                    @Html.PagedListPager(Model.Positions, page => Url.Action("Index", new { page = page, keyword = Model.Keyword }))
                </div>
                <div class="col-sm-5">
                    <div class="form-inline text-right">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3"> 总记录<strong>@Model.TotalCount</strong>条，分页</span>
                            @Html.DropDownListFor(m => Model.PageSize, (SelectList)ViewBag.PageSizes, "分页", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
          
        </footer>


    </div>

<!-- end main container -->

<div id="edit-container">
</div>

<form id="anti-form" method="post">
    @Html.AntiForgeryToken()
</form>

@Html.Action("PopuFinder", "File")

@section footer {
    @Scripts.Render("~/bundles/jqueryvalWithBootstrap")
<script src="~/bower_components/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
<script src="/Plugins/webuploader/webuploader.min.js"></script>
<script src="/Plugins/SigFinder/FileManager.js"></script>

    <script>
        function SetSketch() {
            var fileUrl = $("#fileList .item.active").attr("data-file");
            $('#Sketch').val(fileUrl);
            $('#fileManagerModal').modal('hide');
        }



        function OnSuccessLink(data) {
            Common.ShowBox(data.Status, data.Message, "操作")
        }

        function onAjaxComplete() {
            $('#ModalEdit').modal();

            $(document).on("click", "#btnSketch", function () {
                $('#fileManagerModal').modal();
                $("#selectImage").unbind('click');
                $("#selectImage").bind("click", function () {
                    SetSketch();
                });
            });
        }
        function onBegin() {
            $("#btnSave i").removeClass("fa-save").addClass("fa-spinner fa-spin")
        }
        function onComplete() {
            $("#btnSave i").removeClass("fa-spinner fa-spin").addClass("fa-save")
        }


        function updateSuccess(data) {
            var title = '@ViewBag.PageTitle';
            Common.ShowBoxWithFuncBack(data, title, submitSuccess);
        }

        function submitSuccess(id,htmlData) {
            $('#ModalEdit').modal('hide');
            console.log(id);
            if (id > 0) {
                var cid = "container" + id;
                $("#" + cid).replaceWith(htmlData);
            } else {
                $("#tbList").html(htmlData);
            }
           
        }


        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

            //active
            $(document).on("click", '.active-item', function (e) {
                e.preventDefault();
            
                var url = $(this).attr('data-url'), title = $(this).attr('title'), that = $(this);
                Common.SingleActionWithFuncBack(url, title, that, submitFunc);

            });

            function submitFunc(that, data) {
                var tr = that.closest('.item-container').replaceWith(data);
            }


            $(document).on("change", '#PageSize', function (e) {
                e.preventDefault();

                var url = "@Url.Action("PageSizeSet")", title = "分页设置", pageSize = $(this).val();
                Common.PageSizeSet(url, title, pageSize, setPageSizeFunc);

            });

            function setPageSizeFunc() {
                location.reload();
            }


            //delete
            $(document).on("click", '.delete-item', function (e) {
                e.preventDefault();

                var url = $(this).attr('data-url');
                var that = $(this);
                bootbox.setLocale("zh_CN");
                bootbox.confirm("你确定要删除此项吗？", function (result) {
                    /*DELETE*/
                    if (result) {
                        var title = "@ViewBag.Title";
                        Common.DeleteItem(url, title, that);
                    }
                 
                });

            });


        });
    </script>

}