@model Link
<tr class="item-container">
    <td>
        @if (!string.IsNullOrEmpty(Model.LogoUrl))
    {
        <img class="img-thumbnail" src="@Model.LogoUrl" style="height:30px;" />
}

    </td>
    <td>
        @Model.Title
    </td>
    <td>
        @Model.WebLink
    </td>
    <td>
        @Model.CategoryTitle
    </td>
    <td>
        @Model.Importance
    </td>

    <td>
        @if (Model.Active)
        {
            <a href="#" data-url="@Url.Action("Active", new {id = Model.Id})" class="active-item" title="激活" data-action="锁定">
                <i class="fa fa-check text-success"></i>
            </a>

        }
        else
        {
            <a href="#" data-url="@Url.Action("Active", new {id = Model.Id})" class="active-item" title="锁定" data-action="激活">
                <i class="fa fa-remove text-danger"></i>
            </a>
        }
    </td>
    <td>
        <a href="@Url.Action("Edit",new {id = Model.Id})" class="btn btn-primary btn-sm" title="@Buttons.Edit"><i class='fa fa-edit fa-fw'></i></a>
        <a href="#" data-url="@Url.Action("Delete", new {id = Model.Id})" class="btn btn-danger btn-sm delete-item" title="@Buttons.Delete">
            <i class="fa fa-trash-o fa-fw"></i>
        </a>

    </td>
</tr>