@model TZGCMS.Model.Front.ViewModel.Jobs.PageJobVM
@{

    PageMeta pm = (PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : "人才招聘";
}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }

}


    <div class="banner banner-job">
        <div class="container page-title">
            <h1>人才招聘</h1>
            <h3>About FONENG</h3>
        </div>
    </div>

<div class="container page-jion">
    <div class="row">
        <div class="col-sm-3 ">
            <aside class="posts">
                <ul>
                    @foreach (var item in Model.Jobs)
        {
            if (Model.SeoName == item.SeoName)
            {
                <li>
                    <a href="@Url.RouteUrl("jobDetail",new {seoName= item.SeoName })" class="active">@item.Post</a>
                </li>
}
else
{

            <li>
                <a href="@Url.RouteUrl("jobDetail",new {seoName= item.SeoName })">@item.Post</a>
            </li>


}


}
                </ul>
            </aside>
        </div>
        <div class="col-sm-9 content-job">
            <h2 class="title">
                @Model.Job.Post
            </h2>
            <div class="note">
                <ul>
                    <li><i class="iconfont icon-duoweidu"></i> 岗位类别：@Model.Job.Category</li>
                    <li class="add"><i class="iconfont icon-didian"></i> 工作地址：@Model.Job.Address</li>
                    <li class="date"><i class="iconfont icon-time1"></i> 创建日期：@Model.Job.CreatedDate.ToShortDateString()</li>
                </ul>
            </div>
            <article class="job-body">
                @Html.Raw(Model.Job.Description)
            </article>
            <footer class="job-footer">
                蜂能期待您的加入，请将您的简历投寄至：@SettingsManager.Contact.MailTo
            </footer>
        </div>
    </div>
</div>


@section footer{
    <script src="~/Plugins/bxslider/dist/jquery.bxslider.min.js"></script>
    <script>

        $(document).ready(function () {
            $(".mainav>li:nth-of-type(3)").addClass("active");
        });
    </script>


}
