@model JobPagedVM
@{

    QNZ.Data.PageMetaSet pm = (QNZ.Data.PageMetaSet)ViewBag.PageMeta;
    ViewData["Title"] = pm != null ? pm.Title : "加入我们";

    var Categories = Model.Jobs.Select(d => d.GroupName).Distinct();
}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
}

<div class="banner banner-join">
    <h3>加入我们</h3>
    <h4>Join us</h4>
    <hr />
    <nav>
        @foreach (var item in Model.Dictionaries)
        {
            <a href="@Url.Action("Index",new { category = item.Title})">@item.Title</a>
        }
    </nav>
</div>
<div class="page page-join">
    <div class="container">

        @foreach (var name in Categories)
        {
            <h2 class="title-v2">
                @name
            </h2>
            foreach (var item in Model.Jobs.Where(d => d.GroupName == name))
            {
                <div class="item">
                    <a href="javascript:void(0);" class="row align-items-end jobtitle">
                        <div class="col">
                            <h3>@item.Post</h3>
                            @item.Address
                        </div>
                        <div class="col-auto">
                            <time>@string.Format("{0:d}",item.CreatedDate)</time>
                        </div>
                    </a>
                    <div class="jobbody">
                        @Html.Raw(item.Description)
                    </div>
                </div>
            }

        }


        @if (Model.TotalCount > Model.PageSize)
        {
            <div>
                @Html.PagedListPager((IPagedList)Model.Jobs, page => Url.Action("Index", new { page, category = Model.Category}), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        }

    </div>

</div>

@section footer{
    
    <script>
        $(function (e) {
            $(".jobtitle").click(function (e) {
                $(this).next().slideToggle();
            })
        })
    </script>
    
    }