@model IEnumerable<AlbumVM>

@{

    QNZ.Data.PageMeta pm = (QNZ.Data.PageMeta)ViewBag.PageMeta;
    ViewBag.Title = pm != null ? pm.Title : "关于我们";
}

@section header{
    @if (pm != null)
    {
        <meta name="description" content="@pm.Description" />
        <meta name="keywords" content="@pm.Keyword" />
    }
}


@*@Html.Action("SingleAd", "AD", new { code = "A1002" })*@
@*@Html.Action("Paragraph", "Pages", new { seoName ="about" })*@


<div class="page-about">

    <section class="s1">
        <div class="content">
            <img src="~/Content/img/logo-min.png" alt="云门集团简介" class="min-logo" />
            <h3 class="title">
                云门集团简介
            </h3>
            <p>
                居山林，润玉泉，<br/>
                深耕百载，青叶密雨，<br />
                云门匠制，手造天成。
            </p>
        </div>
    </section>
    <section class="s2">
        <h3 class="title">云门图集</h3>
        <div class="container albums">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-4 px-md-4">
                        <a href="@Url.Action("Photos",new { albumId =  item.Id})" class="item">
                            <div class="pic"><img src="@item.Cover" alt="@item.Title" /></div>
                            <h4>@item.Title</h4>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
 
</div>


@section footer{

    <script>
        $(function () {
            $(".tab-header a").click(function (e) {
                e.preventDefault();
                $(".tab-header a.active").removeClass("active");
                $(this).addClass("active");
                var tab = $(this).attr("data-id");
                $(".tabone.active").removeClass("active");
                $("#" + tab).addClass("active");
            })
        })
    </script>
}
