<div class="progress"></div>
<header class="site-header @ViewBag.HeaderClassName">
    <div class="topcol"></div>
    <div class="wrap">
        <a href="/" class="logo">
            <img src="/content/img/logo.png" alt="logo" />
        </a>

        <div class="menu-button">
            <div class="menu-toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>
        @Html.Action("SiteNav", "Menu", new { cid = 2 })

        <div class="iconsocai">

            <a href="#">
                <i class="iconfont icon-cart2f"></i>
            </a>
            <a href="javascript:void(0);" class="wechat">
                <i class="iconfont icon-wechat"></i>
                <img src="@SettingsManager.Company.WeiXingCode" alt="" />
            </a>
        </div>
    </div>


    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QNZCMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@


</header>




@*<header id="pageHeader" class="site-header">
        <div class="container">
            <div class="topcol">
                <div class="row no-gutters align-items-center">
                    <div class="col">

                    </div>
                    <div class="col-auto">
                        <div class="icon">
                            <i class="iconfont icon-phone-ringing"></i>
                        </div>
                    </div>
                    <div class="col-auto">
                        0757—81230272
                    </div>
                    <div class="col-auto">
                        <div class="icon">
                            <i class="iconfont icon-email"></i>
                        </div>
                    </div>
                    <div class="col-auto">
                        Sales@Framemac.com
                    </div>
                    <div class="col-auto">
                        <a href="#">
                            <img src="~/Content/img/lang_cn.png" alt="中文" />
                        </a>
                    </div>
                    <div class="col-auto">
                        <a href="#">CN</a>
                    </div>
                    <div class="col-auto">
                        <a href="#"><img src="~/Content/img/lang_en.png" alt="English" /></a>
                    </div>
                    <div class="col-auto">
                        <a href="#">EN</a>
                    </div>
                    <div class="col-auto">
                        <a href="#"><img src="~/Content/img/lang_es.png" alt="España" /></a>
                    </div>
                    <div class="col-auto">
                        <a href="#">España</a>
                    </div>

                </div>
            </div>
            <div class="row logo_nav align-items-center">
                <div class="col-auto">
                    <a href="@Url.Action("Index", "Home")" id="logo" class="logo">
                        <img src="/Content/img/logo.png" alt="@SettingsManager.Site.SiteName" />
                    </a>
                </div>
                <div class="col">
                    <nav class="navbar" role="navigation">
                        @Html.Action("SiteNav", "Menu", new { cid = 2 })
                    </nav>
                </div>
                <div class="col-auto">
                    <form class="form-inline" action="/search">
                        <div class="searchbox">
                            <div class="row no-gutters">
                                <div class="col"> <input name="SearchTerm" autocomplete="off" /></div>
                                <div class="col-auto"><button type="submit"><i class="iconfont icon-search"></i></button></div>
                            </div>
                        </div>
                    </form>
                    <div class="openav" id="openav">
                        <span class="item item_top"></span>
                        <span class="item item_mid"></span>
                        <span class="item item_bot"></span>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <nav class="mobile_navbar" id="sitenav" role="navigation">
        <div class="navlangs">
            <div class="row">
                <div class="col-auto">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <a href="#">
                                <img src="~/Content/img/lang_cn.png" alt="中文" />
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="#">CN</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <a href="#"><img src="~/Content/img/lang_en.png" alt="English" /></a>
                        </div>
                        <div class="col-auto">
                            <a href="#">EN</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <a href="#"><img src="~/Content/img/lang_es.png" alt="España" /></a>
                        </div>
                        <div class="col-auto">
                            <a href="#">España</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        @Html.Action("SiteNav", "Menu", new { cid = 2 })
    </nav>*@