@model CaseIM
@{
    Layout = "~/Areas/Admin/Views/Shared/Layouts/_Layout2019.cshtml";

    ViewBag.Title = "编辑" + EntityNames.Case;
    ViewBag.PageTitle = ViewBag.Title + "_内容";
}


@section Header{

    <link href="~/Plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
}


@using (Ajax.BeginForm("Edit", null, new AjaxOptions
{

    HttpMethod = "POST",
    OnBegin = "onBeginSave",
    OnComplete = "onCompleteSave",
    OnSuccess = "updateSuccess"

}, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)


    <div class="card">
        <header class="card-header">
            <span class="glyphicon glyphicon-edit"></span> @ViewBag.Title
        </header>

        <section class="card-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mainform-tab" data-toggle="tab" href="#mainform" role="tab" aria-controls="mainform" aria-selected="true">@EntityNames.Case</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="seo-tab" data-toggle="tab" href="#seo" role="tab" aria-controls="seo" aria-selected="false">SEO设置</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" id="myTabContent" style="padding-top:30px;">
                <div class="tab-pane fade show active" id="mainform" role="tabpanel" aria-labelledby="mainform-tab">

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Title, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = Labels.Title })
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Thumbnail, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Thumbnail, new { @class = "form-control", placeholder = Labels.Thumbnail })
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" id="btnThumbnail" type="button">浏览…</button>
                                </div>
                            </div><!-- /input-group -->
                            <small id="emailHelp" class="form-text text-muted">
                                图像大小：436x298 像素"
                            </small>
                            @Html.ValidationMessageFor(model => model.Thumbnail)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Body, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Body, new { @class = "form-control", placeholder = "内容" })
                            @Html.ValidationMessageFor(model => model.Body)
                        </div>
                    </div>


                    <div class="form-group row">
                        @Html.LabelFor(model => model.Summary, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Summary, new { @class = "form-control", placeholder = "描述" })

                            @Html.ValidationMessageFor(model => model.Summary)
                        </div>
                    </div>


                    <div class="form-group row">
                        @Html.LabelFor(model => model.Pubdate, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Pubdate, new { @class = "form-control", placeholder = Labels.Pubdate })
                            @Html.ValidationMessageFor(model => model.Pubdate)
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-2">激活</div>
                        <div class="col-md-10">
                            <div class="form-check">
                                @Html.CheckBoxFor(model => model.Active, new { @class = "form-check-input" })

                            </div>
                        </div>
                    </div>




                </div>
                <div class="tab-pane fade" id="seo" role="tabpanel" aria-labelledby="seo-tab">

                    <div class="form-group row">
                        @Html.LabelFor(model => model.SEOTitle, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.SEOTitle, new { @class = "form-control", placeholder = "标题(SEO)" })
                            @Html.ValidationMessageFor(model => model.SEOTitle)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Keywords, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Keywords, new { @class = "form-control", placeholder = "关键字(SEO)" })

                            @Html.ValidationMessageFor(model => model.Keywords)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.SEODescription, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.SEODescription, new { @class = "form-control", placeholder = "描述(SEO)" })

                            @Html.ValidationMessageFor(model => model.SEODescription)
                        </div>
                    </div>

                </div>

            </div>


        </section>
        <footer class="card-footer text-center">
            <button type="submit" class="btn btn-primary" id="btnSave"><i class="fa fa-save fa-fw"></i>  @Buttons.Update </button>
            <a href="@Url.Action("Index")" class="btn btn-secondary"><span class="fa fa-chevron-left fa-fw"></span> @Buttons.Back</a>
        </footer>

    </div>
}




@section Footer {
    @Scripts.Render("~/bundles/jqueryvalWithBootstrap")
    <script src="~/Plugins/tinymce5/tinymce.min.js"></script>
    <script src="~/scripts/lib/moment/moment-with-locales.min.js"></script>

    <script src="~/Plugins/datetimepicker/jquery.datetimepicker.full.min.js"></script>

    <script>


         function SetThumbnail(fileUrl) {
            $('#Thumbnail').val(fileUrl);
        }


        function onBeginSave() {
            $("#btnSave i").removeClass("fa-save").addClass("fa-spinner fa-spin");
        }
        function onCompleteSave() {
            $("#btnSave i").removeClass("fa-spinner fa-spin").addClass("fa-save");
        }

        function updateSuccess(data) {
            var title = '@ViewBag.Title';
            Common.ShowBox(data.Status, data.Message, title);
        }


        tinymce.init({
            selector: '#Body',  // change this value according to your HTML
            height: 400,
            language: 'zh_CN',

            convert_urls: false,
            extended_valid_elements: 'span',
            image_advtab: true,

            //picture manager
            file_picker_callback: singleEelFinder.elFinderBrowser,
            images_upload_handler: singleEelFinder.ImagesUploadHandler,
            plugins: 'print preview fullpage code importcss  searchreplace autolink autosave save directionality  visualblocks visualchars fullscreen image link media  template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists  wordcount   imagetools textpattern noneditable help    charmap   quickbars  emoticons',

              toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment',
              autosave_ask_before_unload: true,
              autosave_interval: "30s",
              autosave_prefix: "{path}{query}-{id}-",
              autosave_restore_when_empty: false,
            autosave_retention: "2m",

          image_advtab: true,
                    importcss_append: true,
             image_caption: true,
          templates: [
                { title: '新表格', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
            { title: '文章样式', description: 'A cure for writers block', content: 'Once upon a time...' },
            { title: '列表样式', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
          ]


        });




        $(function () {

            $("#btnThumbnail").on("click", function() {
                singleEelFinder.selectActionFunction = SetThumbnail;
                singleEelFinder.open();
            });




            $.datetimepicker.setLocale('ch');
            $('#Pubdate').datetimepicker();
        })

    </script>
}




