@model IEnumerable<BakFileVM>
@foreach (var item in Model)
            {
    <tr class="item-container">
        <td>@item.Name</td>
        <td>@item.FileSize KB</td>
        <td>@item.CreatedDate</td>
        <td>
            <a href="@Url.Action("Download",new {filePath = item.FilePath,fileName= item.Name })" class="btn btn-primary btn-sm"><i class="fa fa-download fa-fw"></i>下载</a>
            @*<a href="#" data-url="@Url.Action("Restore", new {filePath = item.FilePath })" class="btn btn-info btn-sm restore-item" title="@Buttons.Restore">
                <i class="fa fa-repeat fa-fw"></i>还原
            </a>*@
            <a href="#" data-url="@Url.Action("Delete", new {filePath = item.FilePath })" class="btn btn-danger btn-sm delete-item" title="@Buttons.Delete">
                <i class="fa fa-trash-o fa-fw"></i>删除
            </a>
        </td>
    </tr>
}